################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WA_WildLife/.vs
/WA_WildLife/WA_WildLife.zip
/WA_Qatar/.vs
/970x250-waldorf
/970x250-waldorf.zip
/WA_WildLife.zip
/WA_WildLife/js/Temp
/BA_Bermuda/.vs
