################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WA_WildLife/.vs
/WA_WildLife/WA_WildLife.zip
/WA_Qatar/.vs
/970x250-waldorf
/970x250-waldorf.zip
/WA_WildLife.zip
/WA_WildLife/js/Temp
/BA_Bermuda/.vs
/Durhams/.vs/config/applicationhost.config
/Durhams/.vs/Durhams/v14/.suo
/Sample/.vs/config
/Sample/.vs/WA_Qatar/v14
/Sample/Miranda.sln
/swarovski/lightbox/.vs/config
*.suo

swarovski/lightbox/images/Dubrovnik’s enchanting coastline. Photo by Mario Romulić; Dražen Stojčić, the Croatian Tourist Board.jpg

swarovski/lightbox/images/Dubrovnik’s enchanting coastline. Photo by Mario Romulić; Dražen Stojčić, the Croatian Tourist Board.jpg
