################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WA_WildLife/.vs
/WA_WildLife/WA_WildLife.zip
