@media screen and (max-width: 1023px) , screen and (max-height: 570px){
	#mydiv-content {
       top: 0;
       -webkit-transform: translate(-50%, 0%);
       -ms-transform: translate(-50%, 0%);
	    transform: translate(-50%, 0%);
		height:100vh;
    }
	.MobMenuBtn{
		z-index:10;
		display:block;
	}
	.topMobMenuBar{
		display:block;
	}
	
	.CloseBtn{
		display: none;
	}
    .mobDetector{display:block;}
    .topMobMenuBar .CloseBtn{
		display: block;
	}
	.MenuMob {
         display: table;
         width: 100%;
    }
    .lightbox-defaultTab{
        display:none !important;
    }
    .lightbox-detailsPage{
        display:block !important;
        opacity: 1;
        visibility:visible;
        height:100%;
    }	
    .lightbox-detailsPage:before{
        content:none;
    }
    .lightbox-bootmGrad{
        display:none;
    }
    .lightbox-footer{
        display:none;
    }

    .lighbox-container{
            margin: 0px auto;
            margin-top: 20vh;
            height: 100vh;
            position: relative;
            padding: 0px;
            padding-top: 0px;
            /* width: 100%; */
            background-color: #000;
            /* padding: 3%; */
    }
    .lighbox-container .lightbox-content .LeftBox{
        display:none;
    }
    .lighbox-container .lightbox-content{
        height:100%;
        width: auto;
    }
    .lighbox-container .lightbox-content .Container{
        float:none;
        margin: 0px auto;
        width:90%;
    }
    .lighbox-container .lightbox-content .page-details{
        margin-top:0px;
    }
    .lighbox-container .lightbox-title{
        display:none;
    }
    .content-para{
        background: #9f3a0d !important;
        width: auto;
        display: block;
        padding-bottom: 0px;
        padding-top: 30px;
        min-height: initial;
    }
    .FirstImgBGTextBox{
        background: #839e25 !important;
    }
    
    .DescriptionBox{
            padding: 0px 5%;
            display: block;
            width: auto;
            text-align: left;
    }
    .FirstImgBGTextBox .DescriptionBox{
        padding-bottom:30px;
    }
    .LastImgBGTextBox .DescriptionBox{
        padding-bottom:300px;
    }
    .DescriptionBox .BigHeading{
        font-size: 2em;
        line-height: 30px;
        padding: 0px;
    }
    .CommonSec .DescriptionText{
        text-align:left;
        padding-bottom: 30px;
        padding-top: 0px;
    }
    .content-image{
        display: block;
        /* width: 100%; */
        padding-bottom: 0px;
        overflow: hidden;
        max-width: 1000px;
        max-height: 620px;
        overflow: hidden;
        position: relative;
        background-position:center;
        background-size:cover;
    }
    .content-image:before{
        content: "";
        display: block;
        padding-top: 62%;
    }
    .content-image img{
        width:100%;
    }
    .LastImgBGTextBox {
        background-image:url(../images/banners/mobContentImag-LastSec.jpg) !important;
        background-size: 100% 100% !important;
    }
    .ShareBox {
        display:none;
    }
    .MobileFooter {
        display:block !important;
        width: 100%;
        display: inline-block;
        font-family: 'DurhamSans-Normal';
        text-align: left;
        margin-top: 29px;
    }
    .mobileShareLabel {
        font-family: Arial;
        font-weight: bold;
        color: #fff;
        font-size: 1.3em;
        top: 3px;
        position: relative;
    }
    .MobileFooter .SocialBox a {
        width:40px;
        display: inline-block;
        text-align: center;
        margin-left: 13px;
    }
    .MobileFooter .SocialBox a.fb img.socialImg {
        width:35%;
    }
    .MobileFooter .SocialBox a img.socialImg{
        vertical-align:middle;
        width: 68%;
        top:0;
       -webkit-transform: translateY(0%);
       -ms-transform: translateY(0%);
       -moz-transform: translateY(0%);
        transform: translateY(0%);
    }
   
}