@media screen and (max-width: 1023px) , screen and (max-height: 570px){
	#mydiv-content {
       top: 0;
       -webkit-transform: translate(-50%, 0%);
       -ms-transform: translate(-50%, 0%);
	    transform: translate(-50%, 0%);
		height:100vh;
    }
	.MobMenuBtn{
		z-index:10;
		display:block;
	}
	.topMobMenuBar{
		display:block;
	}
	
	.CloseBtn{
		display: none;
	}
    .mobDetector{display:block;}
    .topMobMenuBar .CloseBtn{
		display: block;
	}
	.MenuMob {
         display: table;
         width: 100%;
    }
    .lightbox-defaultTab{
        display:none !important;
    }
    .lightbox-detailsPage{
        display:block !important;
        opacity: 1;
        visibility:visible;
        height:100%;
    }	
    .lightbox-detailsPage:before{
        content:none;
    }
    .lightbox-bootmGrad{
        display:none;
    }
    .lightbox-footer{
        display:none;
    }

    .lighbox-container{
            margin: 0px auto;
            margin-top: 20vh;
            height: 100vh;
            position: relative;
            padding: 0px;
            padding-top: 0px;
            /* width: 100%; */
            background-color: #000;
            /* padding: 3%; */
    }
    .lighbox-container .lightbox-content .LeftBox{
        display:none;
    }
    .lighbox-container .lightbox-content{
        height:100%;
        width: auto;
    }
    .lighbox-container .lightbox-content .Container{
        float:none;
        margin: 0px auto;
        width:90%;
    }
    .lighbox-container .lightbox-content .page-details{
        margin-top:0px;
    }
    .lighbox-container .lightbox-title{
        display:none;
    }
    .DescriptionBox{
            padding: 0px 5%;
    }
    .DescriptionBox .BigHeading{
        font-size: 1.5em;
    }
    .content-para{
        background: #9f3a0d !important;
    }
    .FirstImgBGTextBox{
        background: #839e25 !important;
    }
}