body {
    margin: 0;
}

.clear {
    clear: both;
}

#mydiv {
    
}

#mydiv .standaloneView{
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0%;
    top: 0%;
    position: fixed;
    z-index: 200;
}
#mydiv-content {
    width: 100%;
    max-width: 1000px;
    max-height: 650px;
    margin: 0 auto;
    padding: 0px;
/*    background-color: #fff;*/
    /*left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
    backface-visibility: hidden;
    font-family: 'Fira Sans';
}

.CloseBtn {
    position: absolute;
    top: -8px;
    right: -52px;
    z-index: 12;
    width: 60px;
    height: 60px;
    background-image: url(../images/Close.png);
    display: block;
}

.togglecone.expandedcone {
    background-color: green;
}

.mobDetector {
    display: none;
}

.lighbox-container {
    width: 100%;
    /* height: 100%; */
    position: relative;
}

.tab-container {
    max-width: 1000px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    /* background-color: #013f62; */
}
.tab-container:before{
        content: "";
        display: block;
        padding-top: 60%;
}
.lighbox-container .lightbox-content {
        width: 100%;
        height:650px;
}
.lighbox-container .lightbox-content .LeftBox {
    width: 20%;
    max-width: 200px;
    height: 650px;
    position: fixed;
    overflow: hidden;
    background-image: url(../images/leftBar.jpg);
    position:relative;
    float: left;
    background-color:#152b36;
}
.lighbox-container .lightbox-content .Container {
    /*max-width: 795px;*/
    float: right;
    height: 100%;
    overflow: hidden;
    background-image: url(../images/contentBg.jpg);
        background-size: cover;
    position:relative;
    width: 79.5%;
}
.ContentBox{
    /* width:83.1%; */
    margin: 0px auto 0;
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    height: 100%;
    /* background: #ccc; */
    /* max-width: 660px; */
    z-index:10000;
}
.MainContentBox {
     display: block;
     height: 100%;
     overflow:hidden;
     /* margin: 0px auto; */
     /* width: 100%; */
     /* max-width: 660px; */
}
.page-details{
    -webkit-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.35);
    max-width: 660px;
    margin: 0px auto;
    margin-top: 40px;
}
.VideoBox {
   /* height:337px;*/
    width:100%;
    position: relative;
    background-color:rgba(0,0,0,0.6);
}
.FirstImgBGTextBox {
    padding-bottom: 79px;
}
.FirstImgBGTextBox .BigHeading{
    line-height: 0.8em;
    padding-top: 21px;
    padding-bottom: 13px;
}
.DescriptionBox {
    padding: 0px 31px;
    display: table-cell;
    vertical-align: middle;
}
.DescriptionBox .BigHeading {
    color: #fff;
    font-size: 4.4em;
    margin: 0px;
    font-family: 'DurhamSans-Black';
    font-weight: normal;
}
.DescriptionBox .DescriptionText, .content-para .DescriptionText{
    color:#fff;
    font-size: 1.1em;
    line-height: 22px;
    font-family: 'DurhamSans-Bold';
    padding:9px 0px;
    margin:0px;
   
}
.ContentVideo {
    /*position: absolute;*/
    width: 100%;
    margin: 0 auto;
/*    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);*/
   
}
.embed-container {
     position: relative; 
     padding-bottom: 56.25%; 
     height: 0; 
     overflow: hidden; 
     max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
.OverlayBg {
   background-image: url(../images/leftBarGradiant.png);
   background-repeat:repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity:0.3;
    z-index:0;
}
.content-para {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: table;
    width: 100%;
}
.section2 .BigHeading{
    font-size: 3.7em;
    line-height: 57px;
    padding: 34px 0px 5px;
}
.section2 .DescriptionBox .DescriptionText {
    padding-bottom:50px;
}
.CommonSec {
}
.CommonSec .DescriptionText {
   text-align: center;
    margin: 0 auto;
}
.LastImgBGTextBox {
    padding-bottom: 66px;
}
.LastImgBGTextBox .BigHeading{
    font-size: 3.7em;
    line-height: 57px;
    padding-top: 29px;
    padding-bottom: 18px;
}
.LastImgBGTextBox .DescriptionText {
    padding:0px;
    /*font-size: 0.93em;*/
}
.ItalicHeading {
    color: #fff;
    font-family: 'DurhamSans-ThinItalic';
    font-size: 1.6em;
    margin: 0px;
    font-weight: normal;
    padding-right: 10%;
    line-height: 28px;
    margin-bottom: 29px;
}
.EnterNowBox {
    display:inline-block;
    width:100%;
    text-align:center;
    margin-top:64px;
}
.EnterBtn {
    width:150px;
    height:49px;
    margin-top: 24px;
    margin-bottom: 5px;
    font-size:1em;
    color:#fff;
    cursor:pointer;
    background-color:#f07623;
    font-family: 'DurhamSans-Normal';
    letter-spacing: 1px;
    border:none;
    background: #f58220;

-webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);

    -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
outline:none;
}
.EnterBtn:hover {
    background: #f6933c;
    
}
.EnterBtn:active {
    background: #db6c0a;    
}
.ShareBox {
       width: 100%;
    display: inline-block;
    font-family: 'DurhamSans-Normal';
    text-align: center;
    margin-top:29px;
}
.ShareBox .Sharelabel {
    color: #fff;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    height: 36px;
    padding: 0 14px;
    border: 2px solid #f5f5f5;
    line-height: 36px;
    display: inline-block;
    letter-spacing:1px;
}
.SocialBox { 
    display: inline-block;
}
.ShareBox a {
    color: #fff;
    letter-spacing:1px;
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
    height: 36px;
    padding: 0 14px;
    border: 2px solid #f5f5f5;
    line-height: 36px;
    display: inline-block;
    text-decoration:none;
        margin-left: 6px;
}
.ShareBox a:hover {
    background-color:rgba(238,47,92,0.5);
}
.ShareBox a:active {
    background-color:rgba(170,14,50,0.5);
}
.socialImg {
     top: 45%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.CommonSec .DescriptionBox .BigHeading {
    color: #fff;
    font-size: 3em;
    margin: 0px;
    font-family: 'DurhamSans-Bold';
    font-weight: normal;
    padding-top: 40px;
    padding-bottom: 7px;
}

.walkingBgColor {
    background-color:#813009;
}
.waterBgColor {
    background-color:#9f3a0d;
}
.wheelsBgColor {
    background-color:#813009;
}
.CommonSec .DescriptionBox .DescriptionText{
    font-size: 1.1em;
    line-height: 22px;
    letter-spacing: 0.3px;
}
