.clear{ clear:both;}
#mydiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0%;
    top: 0%;
    position:fixed;
    z-index: 200;
	background:rgba(0,0,0,0.7);
}
#mydiv-content {
    width: 100%;
	max-width:1000px;
	height: 85vh;
	max-height:650px;
	margin:0 auto;
    padding: 0px;
    background-color: #fff;
	left: 50%;
    top: 50%;
    position: absolute;
	-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    font-family: 'Fira Sans';
    
}
.CloseBtn{
	position:absolute;
	top: -8px;
	right: -52px;
	z-index:12;
	width: 60px;
	height: 60px;
	background-image:url(../images/close.png);
	display:block;
}
.MobMenuBtn{
	height:25px;
	width:25px;
    position:absolute;
	left: 12px;
    top: 9px;
	z-index:1;
	background-image:url(../images/mobMenu.png);
	cursor:pointer;
	display:none;
}
.togglecone.expandedcone{
	background-color:green;
}


.mobMenuContainer{
	margin-left:0px;
	width: 100%;
	z-index:9;
	display:none;
	position: absolute;
    top:40px;
	background-color:#666;
}
.MenuMob{
}
.MenuMob ul{
	list-style-type:none;
	padding: 0;
	display: table-cell;
}
.MenuMob ul li{
		background-color:#666;
	background-repeat:repeat;
	border-bottom: 1px solid #ccc;
    float: left;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: relative;
}
.MenuMob ul li:first-child {
    border-top: none;
}
.MenuMob ul li a{
	text-decoration:none;
	color:#fff;
}

.lighbox-container
{
    width: 100%;
    height:100%;
    overflow:auto;
    background-color: #00aaff;
    /* margin: 0 auto; */
    /* position: relative; */
}
.lightbox-defaultTab{
    width: 100%;
    height: 100%;
    min-height: 250px;
    min-width: 500px;
    /* position: relative; */
    /* margin: 0px; */
    background-image:url(../images/banner1.jpg);
}
.lightbox-defaultTab.box1BG{
    background-image:url(../images/banner1.jpg);
}

.lightbox-defaultTab.box2BG{
    background-image:url(../images/banner2.jpg);
}

.lightbox-defaultTab.box3BG{
    background-image:url(../images/banner3.jpg);
}

.lightbox-defaultTab.box4BG{
    background-image:url(../images/banner4.jpg);
}

.lightbox-defaultTab.box5BG{
    background-image:url(../images/banner5.jpg);
}

.lightbox-defaultTab.box6BG{
    background-image:url(../images/banner6.jpg);
}


.lightbox-title{
    width: 93%;
    position:absolute;
    top:0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.lightbox-defaultTab .lightbox-title .titleImg{
    width:100%;
}
.lighbox-boxedMenu{
    width: 93%;
    height: calc(100% - 120px);
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0px 1px 0.99px 0.01px rgba(0, 0, 0, 0.8);
}

.lightbox-menuItem-boxed{
    width: calc((100% - 3px)/3);
    float:left;
    height: calc((100% - 1px)/2);
    border:0px;
    cursor:pointer;
}

.lightbox-menuItem-boxed.bottomBorder{
    border-bottom:1px solid #000;
    border-bottom-color: rgba(0,0,0,0.1);
}

.lightbox-menuItem-boxed.sideBorders{
    border-left:1px solid #041824;
    border-right:1px solid #041824;
    border-left-color: rgba(4,24,36,0.1);
    border-right-color: rgba(4,24,36,0.1);
}
.lightbox-menuItem-boxed.box1Hover {
    background-color: rgba(143,88,87,0.8)
}
.lightbox-menuItem-boxed.box2Hover {
    background-color: rgba(43,64,92,0.8)
}
.lightbox-menuItem-boxed.box3Hover {
    background-color: rgba(53,150,205,0.8)
}
.lightbox-menuItem-boxed.box4Hover {
    background-color: rgba(56,94,50,0.8)
}
.lightbox-menuItem-boxed.box5Hover {
    background-color: rgba(32,129,124,0.8)
}

.lightbox-menuItem-boxed.box6Hover {
    background-color: rgba(35,175,185,0.8)
}
.lightbox-menuItem-boxed .lighbox-menuContent{
    width:100%;
    height:100%;
    position:relative;
    color: #fff;
    font-family: 'Conv_JADIWA';
    overflow: hidden;
}
.lightbox-menuItem-boxed .lighbox-menuContent .defaultContent{
    position: absolute;
    bottom: 14px;
    right:15px;
    text-align: right;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
}
.lightbox-menuItem-boxed.hover .lighbox-menuContent .defaultContent{
    transform: translate(0,-35%);
    -webkit-transform: translate(0,-35%);
    -o-transform: translate(0,-35%);
    -moz-transform: translate(0,-35%);
}

.lightbox-menuItem-boxed .lighbox-menuContent .downArrow{
    visibility: hidden;
  opacity: 0;
    position:absolute;
    bottom:0px;
    left: 50%;
    margin-left:-12px;

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
}
.lightbox-menuItem-boxed.hover .lighbox-menuContent .downArrow{
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    visibility: visible;
    opacity: 1;
}
.lightbox-menuItem-boxed .lighbox-menuContent .defaultContent .smallCaseTitle{
    font-size: 44px;
    margin-right: 10px;
    top: 6px;
    position: relative;
    font-size: 2.5em;
}
.lightbox-menuItem-boxed .lighbox-menuContent .defaultContent .capitalCaseTitle{
    font-size: 22px;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 3px;
}



.lightbox-menuItem-boxed .lighbox-menuContent .hoverContent{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    text-align: right;
    width: 100%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lightbox-menuItem-boxed.hover .lighbox-menuContent .hoverContent{
    visibility: visible;
    opacity: 1;
    /* margin-bottom:1px; */
}
.lightbox-menuItem-boxed .lighbox-menuContent .hoverContent .menubox-description{
    font-family: 'Fira Sans';
    text-align: right;
    vertical-align: bottom;
    /* margin-bottom: 4px; */
    width: 50%;
    margin-right: 15px;
    font-size: 0.9em;
    margin-top: 10px;
    float: right;
}
.lightbox-menuItem-boxed .lighbox-menuContent .hoverContent .menubox-logo{
    float: left;
    margin-left: -75px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.lightbox-menuItem-boxed.hover .lighbox-menuContent .hoverContent .menubox-logo{
   transform: translate(110px,0);
    -webkit-transform: translate(110px,0);
    -o-transform: translate(110px,0); 
    -moz-transform: translate(110px,0);
    
}
.lightbox-vertical-gridLine{
    height:1px;
    width:100%;
}

.lightbox-horizontal-gridLine{
    width:1px;
    height:100%;
}


.lighbox-container .lightbox-footer{
    width: 93%;
    height: 50px;
    /* border: 1px solid #ccc; */
    border-bottom:0px;
    position:absolute;
    bottom:0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(255,255,255,0.15);
}


.lighbox-container .lightbox-footer .lightbox-footer-container{
    width:100%;
    height:100%;
    position:relative;
}
.lighbox-container .lightbox-footer .lightbox-footer-container .right-footer{
    float: right;
    margin-right: 2.151%;
    width:29.677%;
    height:100%;
    position: relative;
}
.lighbox-container .lightbox-footer .lightbox-footer-container .right-footer .footer-logo{
    width:100%;
    vertical-align:middle;
}
    .lighbox-container .lightbox-footer .lightbox-footer-container .right-footer .footer-discover-logo{
        /* float:left; */
        width: 48.188%;
        position: absolute;
        top: 52%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        
    }
    .lighbox-container .lightbox-footer .lightbox-footer-container .right-footer .footer-wa-logo{
        
        width:37.319%;
        position: absolute;
        right: 0px;
        top: 52%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }


.lighbox-container .lightbox-detailsPage{
    display:none;
}
.lighbox-container .lightbox-bootmGrad{
    background-image:url(../images/BannerBGGradbottom.png);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
    width:100%;
    height: 71px;
    background-position-y:bottom;
    background-repeat:repeat-x;
    border: 0px;
}