/*  Debug edit back up  */
body {
    height: 100%;
    background-color: #F0F0F0;
    font-family: Arial, sans-serif;
	position:relative;
	height:1000px;
	margin:0;
	padding:0;
}
a {
    color: #5874BF;
    text-decoration: none;
}
a:hover {
    color: #112763;
}
.clear{ clear:both;}
#mydiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0%;
    top: 0%;
    position:fixed;
    z-index: 200;
	background:rgba(0,0,0,0.7);
}
#mydiv-content {
    width: 100%;
	max-width:1000px;
	height: 85vh;
	max-height:650px;
	margin:0 auto;
    padding: 0px;
    background-color: #fff;
	left: 50%;
    top: 50%;
    position: absolute;
	-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.CloseBtn{
	position:absolute;
	right:-35px;
	top:-35px;
	z-index:12;
	width:70px;
	height:70px;
	background-image:url(../images/closeBtn.png);
	display:block;
}
.MobMenuBtn{
	height:25px;
	width:25px;
    position:absolute;
	left: 12px;
    top: 9px;
	z-index:1;
	background-image:url(../images/mobMenu.png);
	cursor:pointer;
	display:none;
}
.togglecone.expandedcone{
	background-color:green;
}


.mobMenuContainer{
	margin-left:0px;
	width: 100%;
	z-index:9;
	display:none;
	position: absolute;
    top:40px;
	background-color:#666;
}
.MenuMob{
}
.MenuMob ul{
	list-style-type:none;
	padding: 0;
	display: table-cell;
}
.MenuMob ul li{
		background-color:#666;
	background-repeat:repeat;
	border-bottom: 1px solid #ccc;
    float: left;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: relative;
}
.MenuMob ul li:first-child {
    border-top: none;
}
.MenuMob ul li a{
	text-decoration:none;
	color:#fff;
}

.lighbox-container
{
    width: 100%;
    height:100%;
    overflow:auto;
}
.lightbox-defaultTab{
    width: 100%;
    height:100%;
    min-height: 250px;
    min-width: 500px;
    position: relative;
    background-image:url(../images/banner1.jpg);
}
.lightbox-defaultTab.box1BG{
    background-image:url(../images/banner1.jpg);
}

.lightbox-defaultTab.box2BG{
    background-image:url(../images/banner2.jpg);
}

.lightbox-defaultTab.box3BG{
    background-image:url(../images/banner3.jpg);
}

.lightbox-defaultTab.box4BG{
    background-image:url(../images/banner4.jpg);
}

.lightbox-defaultTab.box5BG{
    background-image:url(../images/banner5.jpg);
}

.lightbox-defaultTab.box6BG{
    background-image:url(../images/banner6.jpg);
}


.lightbox-title{
    width: 93%;
    height: 50px;
    border: 1px solid #ccc;
    border-top:0px;
    position:absolute;
    top:0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.lightbox-footer{
    width: 93%;
    height: 50px;
    border: 1px solid #ccc;
    border-bottom:0px;
    position:absolute;
    bottom:0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    opacity:0.15;
}

.lighbox-boxedMenu{
    width: 93%;
    height: calc(100% - 120px);
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.15);
}

.lightbox-menuItem-boxed{
    width: calc((100% - 3px)/3);
    float:left;
    height: calc((100% - 1px)/2);
    border:0px;
    cursor:pointer;
}

.lightbox-menuItem-boxed.bottomBorder{
    border-bottom:1px solid #000;
    border-bottom-color: rgba(0,0,0,0.1);
}

.lightbox-menuItem-boxed.sideBorders{
    border-left:1px solid #041824;
    border-right:1px solid #041824;
    border-left-color: rgba(4,24,36,0.1);
    border-right-color: rgba(4,24,36,0.1);
}
.lightbox-menuItem-boxed.box1Hover {
    background-color: rgba(143,88,87,0.8)
}
.lightbox-menuItem-boxed.box2Hover {
    background-color: rgba(43,64,92,0.8)
}
.lightbox-menuItem-boxed.box3Hover {
    background-color: rgba(53,150,205,0.8)
}
.lightbox-menuItem-boxed.box4Hover {
    background-color: rgba(56,94,50,0.8)
}
.lightbox-menuItem-boxed.box5Hover {
    background-color: rgba(32,129,124,0.8)
}

.lightbox-menuItem-boxed.box6Hover {
    background-color: rgba(35,175,185,0.8)
}
.lightbox-menuItem-boxed .lighbox-menuContent{
    width:100%;
    height:100%;
    position:relative;
    color: #fff;
}
.lightbox-menuItem-boxed .lighbox-menuContent .defaultContent{
    position: absolute;
    bottom: 14px;
    right:15px;
    text-align: right;
}

.lightbox-menuItem-boxed.hover .lighbox-menuContent .defaultContent{
    display:none;
}

.lightbox-menuItem-boxed .lighbox-menuContent .hoverContent{
    position: absolute;
    bottom: 0px;
    right:15px;
    text-align: right;
}

.lightbox-vertical-gridLine{
    height:1px;
    width:100%;
    
}

.lightbox-horizontal-gridLine{
    width:1px;
    height:100%;
}

