#journey-popup .island-content-container .tour-section .tour .header > .logo {
    margin-top: 10px;
    width: 150px;
}
.island-content-container .tour-section .tour .header > .logo{
    margin-top:10px;
}
.island-content-container .tour-section .tour ul li {
        text-align: left;
}
