@font-face {
  font-family: 'DurhamSans-Black';
  src: url('DurhamSans-Black.eot');
  src: url('DurhamSans-Black.woff') format('woff'),
       url('DurhamSans-Black.ttf') format('truetype'),
       url('DurhamSans-Black.svg#DurhamSans-Black') format('svg'),
       url('DurhamSans-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DurhamSans-Bold';
  src: url('DurhamSans-Bold.eot');
  src: url('DurhamSans-Bold.woff') format('woff'),
       url('DurhamSans-Bold.ttf') format('truetype'),
       url('DurhamSans-Bold.svg#DurhamSans-Bold') format('svg'),
       url('DurhamSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DurhamSans-Normal';
  src: url('DurhamSans-Normal.eot');
  src: url('DurhamSans-Normal.woff') format('woff'),
       url('DurhamSans-Normal.ttf') format('truetype'),
       url('DurhamSans-Normal.svg#DurhamSans-Normal') format('svg'),
       url('DurhamSans-Normal.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DurhamSans-ThinItalic';
  src: url('DurhamSans-ThinItalic.eot');
  src: url('DurhamSans-ThinItalic.woff') format('woff'),
       url('DurhamSans-ThinItalic.ttf') format('truetype'),
       url('DurhamSans-ThinItalic.svg#DurhamSans-ThinItalic') format('svg'),
       url('DurhamSans-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



