.mobBurger {
    position: absolute;
    width: 10%;
    left: 10px;
    top:16px;
}
.mobBurger img {
    width:100%;
}
.TextLogo {
    position:absolute;
    width:55%;
    margin:0 auto;
    max-width:160px;
    text-align:center;
    top:15px;
    left:50%;
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
}
.TextLogo img {
    width:100%;
}
.mobSwaroLogo {
    position: absolute;
    width: 18%;
    right: 24%;
    bottom: 8px;
    margin: 0;
    top: initial;
}
.mobSwaroLogo img {
    width:100%;
}
#mobMenu.mobileMenuCarosel{
    position: fixed;
    z-index: 10;
    top: 0;
    height: 90px;
    background-image: url(../images/mobMnuBg.png);
    overflow: hidden;
	width:100%;
       -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
#mobMenu.mobileMenuCarosel .mobmainDiv .mobdiv{
	width:auto;
	width:100%;
	height:90px;
    text-align:center;
 
display:none;
}
#mobMenu.mobileMenuCarosel .mobmainDiv .mobdiv.active{
    display:inline-block;
}
#mobMenu.mobileMenuCarosel .mobmainDiv .mobdiv a {
    text-decoration:none;
}
#mobMenu.mobileMenuCarosel .mobmainDiv .mobdiv div {
    margin-top:37px;
}
#mobMenu.mobileMenuCarosel .mobmainDiv .mobdiv span{
    color:#003f28;
    text-align:center;
}
#prev {
    position:absolute;
    top:55px;
    left:10px;
    padding-left: 20px;
    line-height: 25px;
}
#next {
     position:absolute;
    top:55px;
    right:10px;
    padding-right: 20px;
    line-height: 25px;
}
.button {
    background: none;
    border: none;
    color: #fff;
    font-family: "adobe-caslon-pro",serif;
    outline:none;
}

#prev.button .ArrowImg{
    background-image: url(../images/prevmobArrow.png);
        width: 14px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    position:absolute;
    left:0px;
}
#next.button .ArrowImg{
     background-image: url(../images/nextmobArrow.png);
         width: 14px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    position:absolute;
    right:0px;
}
.Bullets {
    position:absolute;
    bottom:10px;
    width: 100%;
    z-index: 1;
    height: 10px;
    text-align: center;
}
.Bullets .Dots {
    width:8px;
    border-radius:10px;
    height:8px;
    background-color:#fff;
    display: inline-block;
}
.Bullets .Dots.active{
    background-color:#313e39;
}

@media all and (max-width: 850px){
    #menu {
        display:block;
    }
    .CloseBtn {
        right: 1px;
    }
    .topMobMenuBar {
        display:block;
    }

}
@media (max-width: 768px) {
    #nav ul {
        display:none;
    }
    .mobCloseBurger {
        display:block !important;
    }
    #nav #menuList {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 12;
    left: 0;
    height: 100%;
    margin-top: 0px;
    transform: translateX(0px);
    
}
#nav #menuList li{
    background-color:#c5e1e0;
}
#nav #menuList li, #nav #menuList li div {
    width:100%;
    text-align: center;
    margin-bottom:0px;
    display: inline-block;
    line-height: 50px;
    border-bottom:1px solid #fff;
}
#nav #menuList li div span:after {
    display:none;
}
#nav #menuList li a{
    display: inline-block;
    width:100%;
}
#nav #menuList li div span {
    font-size: 20px;
}
#nav #menuList li:hover {
    border-bottom: 0px;
}
.mobCloseBurger {
     height:50px;
     background-color: #c5e1e0;
}
.ClickTocliseList {
    position: absolute;
    width: 10%;
    left: 10px;
    top: 16px;
}
.mobCloseBurger img {
    width:100%;
}
    #mobMenu.mobileMenuCarosel {
        display:block !important;
    }
    .CloseBtn {
        position: fixed;
        background-image: url(../images/mobCloseBtn.png);
        position: fixed;
        width: 35px;
        height: 35px;
        right: 10px;
        top: 6px;
    }
    #title {
        display:none;
    }
    .TextLogo {
        max-width:28%;
    }
    .mobSwaroLogo {
        width: 11%;
    }
       
}
@media (max-width: 767px) {
    .logo {
        display:none;
    }
    .TextLogo {
        max-width: 280px;
    }
}