@media all and (min-width: 1000px) and (max-width: 1100px){
 /*   .MainWrapper .view{
      width: 90%;
    }
    .MainWrapper {
      width: 90%;
   }
   */
    .MainWrapper .view {
        width: 93%;
    } 
    .MainWrapper {
      width: 93%;
   }
}
@media all and (max-width: 1024px){
    #nav li, #nav li:hover {
        width: 155px;
    }
    #bkg{
         width: 165.2%;
    }
    .MainWrapper #footer  {
        max-width:96%;
    }
    #underlay {
        width: 95.6%;
    }
    .scrollbar-external_wrapper {
        max-width: 96%;
    }
    .tabletDetector {
        display:block;
    }
   
}
@media all and (max-width: 768px){
    .MainWrapper #footer  {
        max-width:100%;
    }
    .scrollbar-external_wrapper {
        max-width: 100%;
    }
    .mobDetector{display:block;}
}
@media all and (max-width: 767px){
    .scrollbar-external_wrapper {
       background: #fff;
    }
}

