@media screen and (max-height: 670px)  {
    .ContentVideo {
        position: absolute;
        width: 37%;
        left:25%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 767px) , screen and (max-height: 570px){
	#mydiv-content {
       top: 0;
       -webkit-transform: translate(-50%, 0%);
       -ms-transform: translate(-50%, 0%);
	    transform: translate(-50%, 0%);
		height:100vh;
    }
	.MobMenuBtn{
		z-index:10;
		display:block;
	}
	.topMobMenuBar{
		display:block;
	}
	
	.CloseBtn{
		display: none;
	}
    .mobDetector{display:block;}
    .topMobMenuBar .CloseBtn{
		display: block;
	}
	.MenuMob {
         display: table;
         width: 100%;
    }
    .lightbox-defaultTab{
        display:none !important;
    }
    .lightbox-detailsPage{
        display:block !important;
        opacity: 1;
        visibility:visible;
        height:100%;
    }	
    .lightbox-detailsPage:before{
        content:none;
    }
    .lightbox-bootmGrad{
        display:none;
    }
    .lightbox-footer{
        display:none;
    }

    .lighbox-container{
            margin: 0px auto;
    margin-top: 20vh;
    height: 100vh;
    position: relative;
    padding: 0px;
            padding-top: 0px;
            width: 100%;
    }
    .lighbox-container .lightbox-content{
        height:100%;
    }
    .lighbox-container .lightbox-title{
        display:none;
    }
    .tabs{
        transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    }
    .lighbox-container .lightbox-detailsPage .tabs {
        width:100%;
        border:0;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        display: none;
    }
    

    .lighbox-container .tab-container.expanded .tabs.active{
        width:100%;
        display:block;
    }
    .lighbox-container .lightbox-detailsPage .tab{
        top: 0;
		-webkit-transform: initial;
		-moz-transform: initial;
    	-ms-transform: initial;
        transform: initial;
        left: 0;
        width: 100%;
        /* bottom: 0; */
        /* height: 105%; */
        padding-bottom: 20px;
        background: #fff;
    }
    .tab-container.expanded .tabs.active .tab.active{
        width:100%;
        left: 0;
        height: 100%;
        display: block;
    }
    .tab-container.expanded .tabs  .tab{
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        display: none;
        border: 0;
    }
    .tab-container.expanded .tabs  .tab .tab-content{
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    }
    .tabs.active  .tab.parallelogram1.active .tab-content{
        left: 0px;
        background:none;
    }
    .tab-page-details.active .tab-details .tab-detail-title{
        left:0px;
    }
    .tab-container.expanded .tabs.active .tab.parallelogram2.active .tab-content{
        left:0px;
        background:none;
    }
    .tabs.active .default-tab-content{
        display:none !important;
    }
    .tab-page-details.active{
        left:0;
        width:100%;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    }
    
    .tab-details .detail-container{
        width:100%;
        left: auto;
        -o-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
        padding-bottom: 108px;
    }
    .details2 .tab-details .detail-container{
        -o-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }
    .MainContaintArea{
        overflow:scroll;
    }
}
@media screen and (max-width: 1078px) and (min-width: 768px) {
    #mydiv-content{
        width: 75%;
    }

}
/* Safari CSS */
@media screen and (min-color-index:0) and (webkit-min-device-pixel-ratio:0) { @media
{
	@media screen and (max-width: 767px) {
    
	}
}}
/* Safari CSS end */
