body {
    margin: 0;
}

.clear {
    clear: both;
}

#mydiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0%;
    top: 0%;
    position: fixed;
    z-index: 200;
    background-color: rgba(0,0,0,0.7);
}

#mydiv-content {
    width: 100%;
    max-width: 1000px;
    /* height: 100vh; */
    max-height: 650px;
    margin: 0 auto;
    padding: 0px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    font-family: 'Fira Sans';
}

.CloseBtn {
    position: absolute;
    top: -8px;
    right: -52px;
    z-index: 12;
    width: 60px;
    height: 60px;
    background-image: url(../images/Close.png);
    display: block;
}

.togglecone.expandedcone {
    background-color: green;
}

.mobDetector {
    display: none;
}

.lighbox-container {
    width: 100%;
    /* height: 100%; */
    position: relative;
}

    .lighbox-container .lightbox-content {
        width: 100%;
        /* height: 100%; */
    }
    
.tab-container {
    max-width: 1000px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    
}
.tab-container:before{
        content: "";
        display: block;
        padding-top: 60%;
    }
.tabs {
    position: relative;
    width: -webkit-calc(50% - 6px);
    width: -moz-calc(50% - 6px);
    width: calc(50% - 6px);
    overflow: hidden;
    float: left;
    overflow: hidden;
    height: 100%;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
}
.tab-rectangle
 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-flex;
}

.tabs .tab {
    width: 100%;
    position: absolute;
    /*height: -webkit-calc(100% - 6px);
    height: -moz-calc(100% - 6px);
    height: calc(100% - 6px);*/
    height:auto;
    top:0px;
    bottom:0px;
    background: transparent;
    overflow: hidden;
    -webkit-transform:  translateZ(0) skewX(-20deg);
    -moz-transform:  translateZ(0) skewX(-20deg);
    -o-transform:  translateZ(0) skewX(-20deg);
    transform:  translateZ(0) skewX(-20deg);
    backface-visibility: hidden;
    cursor:pointer;
}

.tabs  .tab.parallelogram1 {
    left: -50%;
}

.tabs  .tab.parallelogram2 {
    left: 50%;
    z-index: 1;
}

.tabs  .tab1 {
    border: 3px solid #f499b8;
    border-right:0px;
}

.tabs  .tab2 {
    border: 3px solid #78cdd1;
    border-left:0px;
}

.tabs  .tab3 {
    border: 3px solid #ffea9f;
    border-right:0px;
}

.tabs  .tab4 {
    border: 3px solid #cde3a6;
    border-left:0px;
}

.tabs  .tab.hover
{
    -webkit-transform:  translateZ(0) skewX(-15deg);
    -moz-transform:  translateZ(0) skewX(-15deg);
    -o-transform:  translateZ(0) skewX(-15deg);
    transform:  translateZ(0) skewX(-15deg);
    backface-visibility: hidden;
}
.tabs  .tab.parallelogram1.hover {
    z-index: 3;
    left: -44.5%;
}

.tabs .tab.parallelogram2.hover {
    z-index: 3;
    left: 45%;
    
}

.first-tab-container {
    border: 0;
    border-left: 3px solid #f499b8;
    border-right: 3px solid #78cdd1;
}

.second-tab-container {
    border: 0;
    border-left: 3px solid #ffea9f;
    border-right: 3px solid #cde3a6;
    float: right;
}

.tab-content-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.tab .tab-content {
    -webkit-transform:  translateZ(0) skewX(20deg);
    -moz-transform:  translateZ(0) skewX(20deg);
    -o-transform:  translateZ(0) skewX(20deg);
    transform:  translateZ(0) skewX(20deg);
    backface-visibility: hidden;
}
.parallelogram1 .tab-content {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -24%;
    
}

.parallelogram2 .tab-content {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 22%;
}

.tab1 .tab-content {
    background: url(../images/tab1.jpg) center top no-repeat;
    background-position: 50%;
}

.tab1.active .tab-content{
    
}
.tab2 .tab-content {
    background: url(../images/tab2.jpg) center top no-repeat;
    background-position: 50%;
}

.tab3 .tab-content {
    background: url(../images/tab3.jpg) center top no-repeat;
    background-position: 50%;
}

.tab4 .tab-content {
    background: url(../images/tab4.jpg) center top no-repeat;
    background-position: 50%;
}

.tab .tab-content {
    background-size: cover;
}

.tabs  .tab.hover .tab-content
{
    -webkit-transform:  translateZ(0) skewX(15deg);
    -moz-transform:  translateZ(0) skewX(15deg);
    -o-transform:  translateZ(0) skewX(15deg);
    transform:  translateZ(0) skewX(15deg);
    backface-visibility: hidden;
}
.tabs  .tab.parallelogram1.hover .tab-content {
    
right: -18.55%;
}

.tabs  .tab.parallelogram2.hover .tab-content {
    right: 17%;
}
.tabs .tab.hoverAnother {
    -webkit-transform:  translateZ(0) skewX(-15deg);
    -moz-transform:  translateZ(0) skewX(-15deg);
    -o-transform:  translateZ(0) skewX(-15deg);
    transform:  translateZ(0) skewX(-15deg);
    backface-visibility: hidden;
}
.tabs .tab.hoverAnother .tab-content {
    -webkit-transform:  translateZ(0) skewX(15deg);
        -moz-transform:  translateZ(0) skewX(15deg);
        -o-transform:  translateZ(0) skewX(15deg);
        transform:  translateZ(0) skewX(15deg);
        backface-visibility: hidden;
}
.tabs  .tab.parallelogram1.hoverAnother {
    left: -55%;
}

    .tabs  .tab.parallelogram1.hoverAnother .tab-content {
        right: -29%;
    }

.tabs  .tab.parallelogram2.hoverAnother {
    left: 56.1%;
}

    .tabs  .tab.parallelogram2.hoverAnother .tab-content {
        right: 28.11%;
    }

.default-tab-content {
    position: absolute;
    top: 40px;
    left: 8px;
    backface-visibility: hidden;
    z-index: 8;
    width: 47%;
    cursor:pointer;
}
.default-tab-content.default2 {
    position: absolute;
    top: auto;
    left: auto;
    bottom:30px;
    right: 9px;
    backface-visibility: hidden;
    /* z-index: 7; */
}
.tab3.parallelogram1 .default-tab-content {
    -webkit-transform: translateX(-55%);
    -ms-transform: translateX(-55%);
    -moz-transform: translateX(-55%);
    transform: translateX(-55%);
    backface-visibility: hidden;
}


.default-tab-content .default-title{
    /* width: 81%; */
    /* margin: 0px; */
    /* position: absolute; */
    /* bottom: 0px; */
}
.default-tab-content .default-title img{
    width:100%;
}
.tab4 .default-tab-content .default-title{
    margin-bottom:11px;
}


.explore-outer{
    width: 100px;
    height:33px;
    border-radius: 15px;
    position: relative;
}
.explore-outer .explore-inner{
    width: 74px;
    padding-left:10px;
    height:25px;
    margin: 4px;
    border-radius: 15px;
    float:right;
    background-image:url(../images/exploer-arrow.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    color: #fff;
    font-family: 'Playfair Display';
    font-style:italic;
    font-weight:normal;
    font-size:1em;
    position:relative;
}
.default-tab-content.hover .explore-outer{
    -webkit-box-shadow: 0px 0px 2px 2px #f2e1f2;
    -moz-box-shadow: 0px 0px 2px 2px #f2e1f2;
    box-shadow: 0px 0px 2px 2px #f2e1f2;
}
.explore-outer.hover{
    -webkit-box-shadow: 0px 0px 2px 2px #f2e1f2;
    -moz-box-shadow: 0px 0px 2px 2px #f2e1f2;
    box-shadow: 0px 0px 2px 2px #f2e1f2;
}
.default-tab-content[data-tab="tab1"] .explore-outer {
    background-color: rgba(244,153,184,0.6);
}
.default-tab-content[data-tab="tab1"] .explore-outer .explore-inner{
    background-color: rgba(244,153,184,0.8);
}
.default-tab-content[data-tab="tab2"] .explore-outer {
    background-color: rgba(122,201,202,0.6);
}
.default-tab-content[data-tab="tab2"] .explore-outer .explore-inner{
    background-color: rgba(122,201,202,0.8);
}

.default-tab-content[data-tab="tab3"] .explore-outer {
    background-color: rgba(240,221,152,0.6);
}
.default-tab-content[data-tab="tab3"] .explore-outer .explore-inner{
    background-color: rgba(240,221,152,0.8);
}

.default-tab-content[data-tab="tab4"] .explore-outer {
    background-color: rgba(196,215,160,0.6);
    
}
.default-tab-content[data-tab="tab4"] .explore-outer .explore-inner{
    background-color: rgba(196,215,160,0.8);
}
.default-tab-content .explore-container {
    
position: relative;
    
margin-left: 2px;
    
padding-bottom: 2px;
}
.default-tab-content.default2 .explore-container {margin-left: 44%;}
.default-tab-content.hover .explore-container {
    margin-top: 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;  
}


.default-tab-content .default-description{
    font-size: 1em;
    font-family:'Montserrat';
    font-weight:bold;
    max-width: 180px;
    max-height:0;
    overflow:hidden;
    color:#fff;
    line-height:20px;
    padding-top: 20px;
    /* padding-bottom: 30px; */
    /* display: none; */
    -webkit-transition: max-height 0.5s ease, padding-bottom 0.5s ease, margin-bottom 0.5s ease;
    -moz-transition: max-height 0.5s ease, padding-bottom 0.5s ease, margin-bottom 0.5s ease;
    -o-transition: max-height 0.5s ease, padding-bottom 0.5s ease, margin-bottom 0.5s ease;
    transition: max-height 0.5s ease, padding-bottom 0.5s ease, margin-bottom 0.5s ease;
    text-align: left;
    /* width: 25%; */
}
.default-tab-content.default2 .default-description {
    text-align: right;
    position: relative;
    /* margin-left: 10%; */
}
.default-tab-content.hover .default-description{
    max-height:400px;
    /* display: block; */
    -webkit-transition: max-height 0.5s ease, margin-bottom 0.5s ease;
    -moz-transition: max-height 0.5s ease, margin-bottom 0.5s ease;
    -o-transition: max-height 0.5s ease, margin-bottom 0.5s ease;
    transition: max-height 0.5s ease, margin-bottom 0.5s ease;
}
.default-tab-content.default2 .default-description {
    margin-left: 8%;
}

.default-tab-content.default2.hover .default-description {
    margin-bottom: 20px;
    margin-left: 8%;
}

.tab-container.expanded .tab.active .default-tab-content {
    display:none;
}
.tab-container.expanded .tabs {
    width: -webkit-calc(24% - 6px);
    width: -moz-calc(24% - 6px);
    width: calc(24% - 6px);
}

    .tab-container.expanded .tabs .tab {
        transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
        -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
        -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
        -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
        -webkit-backface-visibility: hidden;
    }

    .tab-container.expanded .tabs.active {
        width: -webkit-calc(76% - 6px);
        width: -moz-calc(76% - 6px);
        width: calc(76% - 6px);
    }

        .tab-container.expanded .tabs.active .tab {
            width: 31.58%;
        }

            .tab-container.expanded .tabs.active .tab.active {
                width: 88.55%;
            }


.tabs.active  .tab.parallelogram1.active .tab-content {
    right: -4%;
    backface-visibility: hidden;
    background-size: cover;
}

.tabs.active  .tab.parallelogram2 {
    z-index: 1;
    left: 85%;
}

.tabs.active .tab.parallelogram2 .tab-content {
    right: 22%;
}

.tab-container.expanded .tabs .default-tab-content {
     -webkit-transition: none !important;
     -moz-transition: none !important;
     -o-transition: none !important;
     transition: none !important;
     min-width: 110px;
     max-width: 110px;
     bottom: 0px;
}

.tabs.active .default-tab-content {
    width: 14%;
    left: 7px;
}


.tabs.active .default-tab-content.default2 {
    width: 15.5%;
    right: 14px;
    left: auto;
}
.tabs.active .default-tab-content.default2[data-tab="tab4"] {
    width: 14%;
}
.tab-container.expanded .default-tab-content .default-title {
    position: absolute;
    top: 0px;
}

.tab-container.expanded .default-tab-content.default2 .default-title {
    bottom: 0px;
    top: auto;
}

.tab-container.expanded .tabs .default-tab-content.default2 {
    bottom: 30px;
    top: 0px;
}
.tab-container.expanded  .explore-container {
    /*margin-top: 158%;*/
    margin-top: 0;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    position: absolute;
    top: 43.2%;
}
.tab-container.expanded .tabs.active  .explore-container {
    /*margin-top: 158%;*/
    margin: 0;
    margin-left: -1%;
}
.tab-container.expanded .default2 .explore-container {
    margin-left: 13px;
    position: absolute;
    margin: 0;
    margin-left: 13px;
    top: 49.5%;
}
.tab-container.expanded .tabs.active .default2 .explore-container {
    margin-bottom: 0;
    margin-left: 17%;
    margin-top: 0;
    bottom: 44.6%;
    position: absolute;
    transform: translateY();
}
.tabs.active .default-tab-content.default2[data-tab="tab4"] .explore-container {
    margin-left: 16%;
    margin-bottom: 166%;
}

.tab-container.expanded .tabs.active .tab.parallelogram2.active {
    left: 15%;
}

.tab-container.expanded .tabs.active  .tab.parallelogram1 {
    left: -16.89%;
}

    .tabs.active  .tab.parallelogram1 .tab-content {
        right: -11%;
    }


.tab-container.expanded .tabs.active .tab.parallelogram2.active .tab-content {
    right: 4%;
    background-size: cover;
}
.tab-container.expanded .tabs  .tab.parallelogram1{
    left: -51.27%;
}
.tab-container.expanded .tabs  .tab {
    -webkit-transform:  translateZ(0) skewX(-5deg);
    -moz-transform:  translateZ(0) skewX(-5deg);
    -o-transform:  translateZ(0) skewX(-5deg);
    transform:  translateZ(0) skewX(-5deg);
    backface-visibility: hidden;
    z-index: 6;
}

            .tab-container.expanded .tabs.active .tab.active {
                left: -4%;
                z-index: 1;
            }
    .tab-container.expanded .tabs  .tab .tab-content {
        -webkit-transform:  translateZ(0) skewX(5deg);
        -moz-transform:  translateZ(0) skewX(5deg);
        -o-transform:  translateZ(0) skewX(5deg);
        transform:  translateZ(0) skewX(5deg);
        backface-visibility: hidden;
    }



.tab-container.expanded .tabs .tab-content {
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.tab-page-details {
    /* display: none; */
    position:absolute;
    top:3px;
    bottom:3px;
    left: 0px;
    width:0px;
    height:100%;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out;
    -webkit-backface-visibility: hidden;
    z-index: 6;
    overflow:hidden;
}
.tab-page-details.details2{
    left:auto;
    right: 0px;
}
.tab-page-details.active{
    /* display:block; */
    width: 88%;
    transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
}
.tab-page-details .tab-details{
    display: block;
    width:100%;
    height:100%;
    overflow:hidden;
}
.tab-page-details .detail-margin{
    height: 380px;
}
.tab-page-details.active .detail-margin{
    height: 231px;
    width:100%;
}
.tab-container .tab .tab-details{

}
.MainContentBox {
     display: block;
     height: 100% !important;
     overflow:hidden;
     margin: 0px auto;
}
.tab-details .tab-detail-title{
    /* float:left; */
    display: none;
    margin-top:40px;
    position:relative;
    left:3%;
}
.details2 .tab-details .tab-detail-title{
    left: 10%;
}
.tab-page-details.active .tab-details .tab-detail-title{
    display:block;
}
.tab-details .tab-detail-title .img{
    width:100%;
}
.tab-details .detail-container{
    width: 86%;
    margin: 0px auto;
    /* margin-top: 44%; */
    position: relative;
    left: 50%;
    -o-transform: translateX(-62%);
    -moz-transform: translateX(-62%);
    -webkit-transform: translateX(-62%);
    transform: translateX(-62%);
}
.details2 .tab-details .detail-container {
    -o-transform: translateX(-55.5%);
    -moz-transform: translateX(-55.5%);
    -webkit-transform: translateX(-55.5%);
    transform: translateX(-55.5%);
}
.tab-details .detail-container .detail-container-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../images/detail-description-background.png");
    opacity: 0.9;
    z-index:-1;
}

.detail-page-head-line{
    color: #f499b8;
    font-family: 'Playfair Display';
    font-style:italic;
    font-weight:normal;
    font-size: 1.5em;
    padding: 20px;
    border-bottom: 1px solid;
}
.description-para{
    padding: 20px;
    color:#042538;
    font-size: 0.86em;
    text-align:left;
    line-height: 22px;
    font-weight: normal;
}
.description-image{
    width:100%;
    max-height: 280px;
    margin-top:20px;
    overflow:hidden;
    position:relative;
}
.description-image.no-top{
    margin-top:0px;
}
.description-image:before{
        content: "";
        display: block;
        padding-top: 48.28%;
    }
.description-image-rectangle
 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size:cover;
    background-position: left center;
}

.description-image-caption{
    color:#fff;
    position: absolute;
    bottom:12px;
    left:20px;
    font-family:'Montserrat';
    font-size: 0.9em;
    -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    line-height:20px;
}

.description-image-caption .heading{
    font-family:'Playfair Display';
    font-size: 2em;
    color:#fff;
    font-style:italic;
    line-height: 86px;
    -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}
.description-image-caption .heading span{

    padding-bottom:10px;
    border-bottom: 5px solid #fff;
    -webkit-box-shadow: -1px 2px 1px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 2px 1px -2px rgba(0, 0, 0, 1);
    box-shadow: -1px 2px 1px -2px rgba(0, 0, 0, 1);
}

.ba-boxout{
    background-image:url(../images/blue-ba-boxout-bkg.jpg);
    color:#fff;
}
.ba-boxout .ba-boxout-heading{
    min-height:60px;
    font-family:'Playfair Display';
    font-style:italic;
    font-weight:bold;
    font-size: 1.2em;
    border-bottom: 1px solid #042538;
    padding-left:20px;
    line-height: 60px;
}
.ba-boxout .description-para{
    color:#fff;
}
.ba-boxout .ba-boxout-discover, .ba-boxout .ba-smith-discover{
    font-family:'Playfair Display';
    font-style:italic;
    font-weight:bold;
    font-size: 0.9em;
    text-align:right;
    padding-right:20px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.ba-boxout .ba-boxout-discover span, .ba-boxout .ba-smith-discover span {
    cursor:pointer;
}
.ba-boxout .ba-boxout-discover img, .ba-boxout .ba-smith-discover img{
    vertical-align:middle;
    margin-left: 10px;
}
.lightbox-footer{
    width:100%;
    height:50px;
    background-color:#013f62;
    color:#fff;
    font-family:'Montserrat';
    font-size:0.9em;
}

.lightbox-footer .bermuda-logo{
    width: 23%;
    padding-left: 13px;
    display: inline-block;
    top: 53%;
    position: relative;
    float: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

}
    .lightbox-footer .bermuda-logo img {
        width:100%;
    }
.follow-us{

}
.left-footer {
    width: 50%;
    float: left;
       height: 50px;
}
.right-footer{
    float: right;
    /* margin-right: 2.151%; */
    width: 40%;
}
.ShareBox {
    width: 64%;
    display: inline-block;
    height:50px;
    padding-left: 16px;
}
.ShareBox .Sharelabel {
    line-height:50px;
    height:50px;
    color:#fff;
    font-family: 'Montserrat-Regular';
    font-size:0.8em;
    font-weight:400;
    display: block;
    float: left;
    width: 56px;
    text-align: center;
}
.SocialBox {
	width: 63%;
    display: inline-block;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 2%;
}
.ShareBox a {
    width:20px;
    height:20px;
    display:block;  
    background-position:center center;
    background-repeat:no-repeat;
    float:left;
    text-align: center;
    background-image: url('../images/socialIcons.png');
}
.ShareBox a:hover{
   /* background-color:#003F66;*/
}
.ShareBox a:active {
   /* background-color:#00263D;*/
}
.ShareBox a.fb {
    background-position: 5px 1px;
}
.ShareBox a.tweet {
   background-position: -20px 1px;
   margin-right: 7%;
   margin-left: 3%;
}
.ShareBox a.youtube {
   background-position: -52px 1px;
   margin-right: 6%;   
}
.ShareBox a.insta { 
   background-position: -83px 1px;
}

.right-footer {
    float: right;
    padding-right: 1.151%;
    width: 48%;
    height: 100%;
    position: relative;
}
.right-footer .footer-British-logo {
    /* float: left; */
    min-width: 156px;
    width: 50.612%;
    position: absolute;
    max-width: 156px;
    top: 46%;
    right: 157px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.right-footer .footer-FindYourflight {
    width: 44.439%;
    position: absolute;
    min-width: 136px;
    max-width: 136px;
    right: 0px;
    top: 46%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Montserrat-Regular';
    font-size: 0.87em;
}
.footer-FindYourflight .findfligntLink{
    cursor:pointer;
}
.right-footer .footer-logo {
    width: 100%;
    vertical-align: middle;
}
.right-footer .footer-FindYourflight .findFlightArrow {
    margin-left: 11px;
}
.ShowMobBanner {
 background:none;
}
.mob-footer {
    display:none;
}
.smithSource .ba-smith-discover{
    display:block !important;
}
.smithSource .ba-boxout-discover{
    display:none;
}

.BorderDiv {
    position: absolute;
    right: 3px;
    width: 2px;
    height: 100%;
    z-index: 1;
    outline: 1px solid #000;
    background-color: #000;
}    
.tabs .tab1 .BorderDiv{
    outline: 1px solid #f499b8;
    background-color: #f499b8;
}
.tabs .tab1.parallelogram1.hover .BorderDiv{
    right:0px;
}
.tabs .tab2 .BorderDiv{
    outline: 1px solid #78cdd1;
    background-color: #78cdd1;
    left:0px;
}
.tabs .tab3 .BorderDiv{
    outline: 1px solid #ffea9f;
    background-color: #ffea9f;
}
.tabs .tab3.parallelogram1.hover .BorderDiv{
    right:0px;
}
.tabs .tab4 .BorderDiv{
    outline: 1px solid #cde3a6;
    background-color: #cde3a6;
    left:0px;
}
/*
.tabs .tab1.parallelogram1.hover .tab-content {
    right: -18.33%;
}
.tabs .tab1.parallelogram1.hoverAnother .tab-content {
    right: -29.22%;
}
.tabs .tab2.parallelogram2.hover .tab-content {
    right: 17.11%;
}
.tabs .tab1.parallelogram1.hover {
    left: -44.2%;
}
.tabs.first-tab-container .tab2.parallelogram2.hoverAnother .tab-content {
    right: 28.66%;
}
  */
.expanded .BorderDiv {
    right:0px;
}
.hovertab1 {
    background-color:#f499b8;
}
.hovertab2 {
    background-color:#78cdd1;
}
.hovertab3 {
    background-color:#ffea9f;
}
.hovertab4 {
    background-color:#cde3a6;
}

.tabs.first-tab-container.active {
    background-color:#78cdd1;
}
.expanded .tabs.first-tab-container {
     background-color:#f499b8;
}
.expanded .tabs.second-tab-container {
    background-color:#cde3a6;
}