@media screen and (max-width: 1024px)
{
    .CloseBtn{
        top:45px;
        right: -10px;
    }
}

@media screen and (min-width: 768px) {
	.mobMenuContainer{
		display:none !important;
	}
    
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .lightbox-menuItem-boxed .lighbox-menuContent .hoverContent {
        top: 27%;
    }
    .DetailBannerText .TextBanner {
        font-size:1.8em;
        line-height: 28px;
    }
    .DetailBannerText .TextBanner .SmallBnnerText {
        line-height: 25px;
    }
    .DetailBannerText .TextBanner .tab1BannerBigtesxt1 {
         padding-left: 19.5%;
    }
    .DetailBannerText .TextBanner .tab1BannerBigtesxt2 {
         padding-left: 16%;
    }
    .DetailBannerText .TextBanner .tab1BannerBigtesxt3 {
        padding-left: 28%;
    }   
    .DetailBannerText .DetailTextTab2 .TextBanner .tab1BannerBigtesxt1 {
        padding-left: 5.5%;
        display: block;
    }

}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation : portrait) {
    .header {
        position: relative;
        top: -45px;
    }

}
@media (max-device-width: 1024px) {
    
    .MainContaintArea{
        overflow:auto;
    }
    .mobDetector{
        display:block;
    }
}
