.lighbox-container .tab .active{
    display: block;
}
.lightbox-detail-booklet .page-background-images{
    position: absolute;
    height:100%;
    width:100%;
    z-index:0;
}

.tab-detail-page{
    display:none;
}
.tab-container.active .default-tab-content{display:none}
.tab-container.active .tab-detail-page{display:block;margin-right: 4px;}
.MainContentBox {
     display: block;
     height: 100% !important;
     overflow:hidden;
     margin: 0px auto;
}
.lightbox-tab1 .tab-detail-page {
    background-image: url('../tab1/hero.png');
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.content {
    width: 100%;
    top: 120px;
    position: relative;
}

.content-top {
    width: 776px;
    height: 183px;
    background-image: url('../tab1/curves.png');
    background-size: cover;
    z-index: 10;
    position: relative;
}

.content-gradient {

    width: 100%;
    background: rgba(0,72,19,0.8);
    padding-top: 30px;
    color: #ffffff;

    background: -webkit-linear-gradient(rgba(0,72,19,0.8), rgba(0,72,19,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,72,19,0.8), rgba(0,72,19,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,72,19,0.8), rgba(0,72,19,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,72,19,0.8), rgba(0,72,19,1)); /* Standard syntax */
    position: relative;
    height: 340px;
}
        
.content-body {
    width: 100%;
    background-color: rgba(0,72,19,0.8);
    color: #ffffff;
    padding-bottom: 50px;
    padding-top: 30px;
}

.title{
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
}

.heather {
    z-index: 20;
    max-width: 75px;
    top: 25px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}

.text {
        font-size: 18px;
        margin: 0px 90px auto;
        text-align: justify-left;
        line-height: 1.6;
        margin-bottom: 70px;
        position: relative;
        color: rgba(255,255,255,0.8);
}

.content-img {
    max-width: 100%;
    position: relative;

}

.subhead {
    font-size: 19px;
    text-transform: uppercase;
    line-height: 1.526;
    text-align: left;
    margin: 60px 90px auto;
    position: relative;
    margin-bottom: 10px;

}

.promo-img {
    max-width: 100%;
    position: relative;
    margin: 0px auto;
    margin-bottom: 10px;
    margin-top: 50px;
    display: block;
    /* width: 100%; */
}

        
.promo-text {
        font-size: 18px;
        margin: 0px 90px auto;
        text-align: justify-left;
        line-height: 1.6;
        margin-bottom: 10px;
        position: relative;
        color: rgba(255,255,255,0.8);
}

.explore-img {
    max-width: 600px;
    position: relative;
    margin: 0px 90px auto;
}

.line {
    max-width: 600px;
    margin: 0px 90px auto;
    height: 20px;
    border-top: solid 1px rgb(131,162,25);
    position: relative;
    margin-top: 20px;

}

.explore {
    background-color: rgb(131,162,25);
    float: right;
    margin-top: -20px;
    color: rgb(0,72,19);
    font-size: 13px;
    font-weight: 500;
    padding: 10px 20px;
    box-sizing: border-box;
    text-transform: uppercase;
}

.promo-section .promo-img:first-child {
    margin-top: 0px;
}

.lightbox-tab2 .tab-detail-page {
    background-image: url('../tab2/bkg.jpg');
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#tab2{position:relative;}
#tab2 .content-body{
    padding-top:20px;
}
#tab2 .heather{top:6px; margin-bottom: 16px;}
.video-outer-container{
    display:block;
    width: 100%;
    position:absolute;
    top: 15px;
    left: 50%;
    -ms-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    z-index:20;
}
.video-container {
    height: 100%;
    position: relative;
    display: inline-block;
    width: 100%;
    /* vertical-align: middle; */
}
.video-navigator{
    width: 19.23%;
    float:left;
    font-size: 23px;
    text-align: center;
    line-height: 1.6;
    /* color: rgba(0, 0, 0, 0.6); */
    min-height: 100px;
    position: relative;
    height: 270px;
    text-transform:uppercase;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    letter-spacing: 2px;
}
.video-navigator.video-navigator-right {
    float: right;
}
.video-navigator .navigation{
    position:absolute;
    width:100%;
    top:50%;
    -ms-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    display:none;
    cursor:pointer;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.video-navigator .navigation.active{
    display:block;
}
.left-arrow{
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.video-section{
    /* float:left; */
    width: 61.53846153846154%;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.video-player{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.video-player iframe, .video-player embed, .video-player object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-iframe{display:none;}
.video-iframe.active{display:block;}
.series-logo{width:480px; margin:0px auto 30px}
.series-logo:after{content:"";display:block;clear:both;}
.circle{width:100px;height:100px;border-radius:50%; background-color:#004813;}
.circle img{border-radius:50%;width:100%}
.team1-captain{float:left;}
.cup-image{margin:0px auto}
.team2-captain{float:right;}


.lightbox-tab3 .tab-detail-page {
    background-image: url('../tab3/bkg.png');
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
}
/******************* EXTERNAL SCROLLBAR *******************/
/*  scrol bar */
.MainContaintArea {
    height: 100%;
    overflow: hidden;
}
.scroll-content{overflow:scroll;}
.scrollbar-external_wrapper {
   /* position:absolute;*/
   height: 150px;
   right: 20px;
   width: 4px;
   position: absolute;
   bottom: 65px;
   z-index: 10;
}
.scrollbar-external {
   /* height: 590px; !important;*/
    overflow: auto;
    overflow: hidden;
}
 

 
.external-scroll_x,
.external-scroll_y {
    cursor: pointer;
    display: none;
    /* position: absolute; */
    border-radius: 0px;
    background-color: #fff;
    width: 4px !important;
}
 
.external-scroll_x.scroll-scrollx_visible {
    display: block;
    height: 10px;
    left: 0;
    top: 410px;
    width: 200px;
}
 
.external-scroll_y.scroll-scrolly_visible {
    display: block;
    height: 100%;
}
 
.external-scroll_x div,
.external-scroll_y div
{
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}
 
.external-scroll_x .scroll-bar,
.external-scroll_y .scroll-bar {
    z-index: 12;
    width: 4px;
    border-radius:0px;
    background-color: #f4dc00;
}
 
.external-scroll_x .scroll-bar {
    width: 100px;
}
.external-scroll_y .scroll-bar {
    height: 70px;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
/*  scroll bar end  */
