.removePopup{
    cursor: pointer;
}
.topMobMenuBar{
    width:100%;
    position: fixed;
    top:0;
    width:100%;
    height:20vh;
    background-color:#1a213a;
    position:fixed;
    display:none;
    z-index:10;
    min-height: 91px;
    background-color: rgba(0,79,118,1) !important;
}
.topMobMenuBar.tab1Active {
    background-color: rgba(143,88,87,1)
}
.topMobMenuBar.tab2Active {
    background-color: rgba(43,64,92,1)
}
.topMobMenuBar.tab3Active {
    background-color: rgba(53,150,205,1)
}
.topMobMenuBar img{
    vertical-align:middle;
}
.topMobMenuBar .topMobItem{
    width:100%;
	height:50%;
	height: -webkit-calc((100%-1px)/2);
	height: -moz-calc((100%-1px)/2);
    height: calc((100%-1px)/2);
    position:relative;
}
.topMobMenuBar .topMobItem.MobMenuBar{
    border-bottom: 1px solid #003a56;
    overflow:hidden;
}
.topMobMenuBar .topMobItem .menuElement{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
    .topMobMenuBar .topMobItem .mobMenu {
        width: 16.875%;
        left:0px;
        position: absolute;
        height:100%;
        cursor: pointer;
    }.topMobMenuBar .topMobItem .mobMenu.active {
        background-color: #008c7f;
    }
.topMobMenuBar .topMobItem .mobMenuIcon{
    left: 50%;
    width: 55.56%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
    
.topMobMenuBar .topMobItem .mobMenuLogos{
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 60.00%;
    /* height: 80.00%; */
}

.topMobMenuBar .topMobItem .mobMenuLogos .tab-title { 
    border-top: solid 1px rgba(255,255,255,0.5);
    border-bottom: solid 1px rgba(255,255,255,0.5);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    width: 50.00%;
    position: absolute;
    top: 5px;
}

.topMobMenuBar .topMobItem .mobMenuLogos .tab-title .text-australian {
  
    font-size: 16px;
    font-family: "Proxima-Nova",helvetica,arial;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    z-index: 72;
    font-weight: 100;
    margin-bottom: 0px;
    margin-top:0px;
    text-align: center;
}

.topMobMenuBar .topMobItem .mobMenuLogos .tab-title .text-adventure {
    font-size: 16px;
    font-family: "Proxima-Nova",helvetica,arial;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    z-index: 71;
    margin-bottom: 0px;
    margin-top:0px;
    text-align: center;
}

.topMobMenuBar .topMobItem .mobMenuLogos .logos-text{
    font-family: "Proxima-Nova",Arial, Helvetica, sans-serif;
    font-size: 6px;
    font-weight: 300;
    color: rgba(255,255,255,0.8);
    width: 18%;
    position: absolute;
    top: 5px;
    left: 60%;
    padding-left: 2px;
    padding-right: 2px;
}

.topMobMenuBar .topMobItem .mobMenuLogos .mobWALogo{
    left: 0;
    width: 55.5185%;
    max-width: 160px;
}

.topMobMenuBar .topMobItem .mobMenuLogos .mobDiscoverLogo{
    width: 30%;
    position: absolute;
    right: 0%;
    top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    max-width: 92px;
}

.topMobMenuBar .topMobItem .mobMenuClose
{
    right: 3.125%;
    width: 9.375%;
}
.topMobMenuBar .topMobItem .mobMenuIcon img,.topMobMenuBar .topMobItem .mobMenuLogos img, .topMobMenuBar .topMobItem .mobMenuClose img{
    width:100%;
    vertical-align: middle;
}

.topMobMenuBar .mobDropdownMenu{
    display:none;
    position: absolute;
    top: 10vh;
    background-color: #008c7f;
    width: 100%;
    max-height:900px;
    z-index: 7000;
    opacity: 1;

}
    .topMobMenuBar .mobDropdownMenu .mobDropdownMenuItem {
        height:10vh;
        max-height:150px;
        border-bottom:1px solid #ffffff;
        line-height: 10vh;
        font-size: 1.0em;
        vertical-align: middle;
        text-align: center;
        color:#fff;
         z-index: 7000;
    opacity: 1;
    }

.topMobMenuBar .mobNavigator{
    width:100%;
    overflow:hidden;
}
.topMobMenuBar .mobNavigator .mobNavigatorContent{
    width: 100%;
    height:100%;
}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobPrevTab{float:left;height:100%}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobNextTab{float:right;height:100%}
.topMobMenuBar .mobNavigator .mobNavigatorContent .navArrow{
    position:absolute;
    width:15%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:1;
}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobPrevTab .navArrow{left: 3.75%;}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobNextTab .navArrow{right: 3.75%;}

.topMobMenuBar .mobNavigator .mobNavigatorContent .navArrow img{width:100%; vertical-align:middle}

.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab{
    /* width: 100%; */
    height: 100%;
    display: inline-block;
    /* position: relative; */
    /* left: 50%; */
}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobNavigationTabs{
    height: 100%;
    position: absolute;
    top:0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobTab{
    display:none;
    width: 100%;
    height: 100%;
    /* left: -50%; */
}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobTab.active{
    display: table;
    width: 100%;
    text-align: center;
}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobTab .mobCurrentTabLogo{
    /* width: 13.514%; */
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    color: #fff;
    font-family: 'Proxima-Nova';
}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobTab .mobCurrentTabLogo img{width: 15%;position: relative;top: -1px;max-width: 53px;}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobTab .mobCurrentTabLogo .smallCaseTitle{position:relative;top: -4px;padding-left: 3px;}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobTab .mobCurrentTabLogo .smallCaseTitle.leftDistance{padding-left:8px}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobTab .mobCurrentTabLogo .smallCaseTitle span{
    font-size: 2.5em;
    /* padding-top:2px; */
}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobTab .mobCurrentTabLogo .capitalCaseTitle{
    font-size: 1em;
    margin-left: 5px;
    letter-spacing: 2px;
    width: 150px;
    margin: 0px auto;
    display: block;
    font-family: 'Proxima-Nova';
    font-weight: 600;
}
.topMobMenuBar .mobNavigator .mobNavigatorContent .mobCurrentTab .mobTab .mobCurrentTabLogo .capitalCaseTitle span{
    position: relative;
    top: -10px;
}
