@media screen and (max-width: 1078px) and (min-width: 768px) {
    #mydiv-content{
        width: calc(100% - 50px);
        width: -webkit-calc(100% - 50px);
        width: -moz-calc(100% - 50px);
        left: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

}
@media screen and (max-width: 930px) , screen and (max-height: 570px){
    #mydiv{
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
    }
	
	#mydiv-content {
       top: 0;
       -webkit-transform: none;
       -ms-transform: none;
	    transform: none;
		height:100vh;
	    background-color: #fff;
        width: 100%;
        left:0px;
    }
	.MobMenuBtn{
		z-index:10;
		display:block;
	}
	.topMobMenuBar{
		display:block;
		z-index: 100;
	}
	
	.CloseBtn{
		display: none;
	}
    .mobDetector{display:block;}
    .topMobMenuBar .CloseBtn{
		display: block;
	}
	.MenuMob {
         display: table;
         width: 100%;
    }
    
    .lightbox-footer{
        display:none;
    }
    .lighbox-container{
            margin: 0px auto;
    margin-top: 20vh;
    height: 100vh;
    position: relative;
    padding: 0px;
            padding-top: 0px;
            width: 100%;
    }
    .lighbox-container .lightbox-detailsPage .tab{
        top: 0;
		-webkit-transform: initial;
		-moz-transform: initial;
    	-ms-transform: initial;
        transform: initial;
        left: 0;
        width: 100%;
        /* bottom: 0; */
        /* height: 105%; */
        padding-bottom: 20px;
        background: #fff;
    }
    .tab-details{
        overflow:auto;
    }
    .lighbox-container .external-scroll_y.scroll-scrolly_visible{

        display:none !important;
    }
    
    .lighbox-container .logos-container{
        display:none !important;
    }
    .tab-container {
        width: 80%;
        margin: 0px auto;
    }
    .tab2 .tab-container {
        width: 100%;
    }
    .tab2 .tab-container.trailfinders-container{width:90%;margin:0px auto;padding-bottom: 100px;min-height: 80vh;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
    .trailfinders-logo {
        float: right;
    }
    .tab1 .hero-img{height:auto;}
    .created-by.tab-container {
        display:inline-block;
        margin-right:0px;
        height: 200px;
        margin-bottom: 100px;
    }
    .tab.active .MainContaintArea{
        height:auto;
        max-height:unset;
    }
    .tab2.active .MainContaintArea, .tab3.active .MainContaintArea{
        margin-bottom:100px;
    }
    .image_full{
        display:none;
    }

    .image_mobile{
        display:block;
    }
    .tab2 .hero-title {
        padding-top: 5px;
        text-align: center;
    }
    .tab2 .brought {
        font-size: 10px;
        font-weight: 100;
    }
    .tab2 .tab-description{
        margin-bottom:50px;
    }
    .tab2 .trailfinders {
        max-width: 130px;
        margin-top: 20px;
        /* float: none; */
        text-align: right;
    }

    .tab2 .brought{
        margin-top: 20px;
    }

    .tab2 .hero-text{
        margin-top:10px;
        -moz-text-align-last: center;
        text-align-last: center;
    }

    .tab2 .hero-img {
        background-image: url('../images/tab2/bkg_full.jpg');
        height: auto;
        background-position: center center;
    }
    .explore-content {
        margin-bottom: 50px;
    }
    .explore-content-row {
        border-radius: 0px;
    }
    .explore-content-row .explore-mobile-heading{
        display:block;
        padding-bottom: 18px;
    }
    .explore-content-row .explore-heading{display:none;}
    .explore-content-row .explore-thumbnail {
        width: 100%;
        float: none;
        margin-bottom: 25px;
    }

    .explore-content-row .explore-details {
        width: 100%;
        float: none;
        padding: 0px;
        margin-bottom: 20px;
        line-height: 25px;
        min-height: initial;
    }

    .explore-content-row .explore-btns {
        width: 116px;
        background-repeat: no-repeat;
        background-position: right;
        float: right;
        position: relative;
        display:none;
        background-size: contain;
    }
    .explore-content-row .explore-btns.explore-mobile-btns{
        display:block;
    }
    .tab3 .sia {
        right: 10px;
        max-width: 45px;
    }

    .tab3 .zoom-container {
        right: 10px;
    }

    .tab3 .zoom-container img {
        max-width: 50px;
    }

    .tab3 .hero-img {
        height: 50vh;
    }
    .tab3 .map{  
        transform: translate3d(-397px, -4px, 0px);
    }
    .MainContentBox {
        width:100%;
        margin-left:0px;
        overflow: initial !important;
    }
    .MainContentBox .detail-page-text {
        /*width: -webkit-calc(100% - 20px);
		width: -moz-calc(100% - 20px);
        width: calc(100% - 20px);*/
        width:100%;
        margin-left:auto;
        margin-right:auto;
        margin-top: 11px;
        /* margin-bottom:280px; */
    }
    .FooterBox {
        
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        width: calc(100% - 20px);
        margin-left:auto;
        margin-right:auto;
        float:none;
        display: block;
        margin-bottom: 130px;
    }
    
    .HideMob {
         display: block;
    }
    
}

@media screen and (min-width: 768px) {
	.mobMenuContainer{
		display:none !important;
	}

}



@media screen and (max-width: 767px)  and (orientation : landscape) , screen and (max-height: 570px) and (orientation : landscape) {
    .topMobMenuBar{
        min-height: 91px;
    }
    .lighbox-container{
        margin-top: 91px;
    }
    .lightbox-detailsPage{
        height:100%;
    }
    .lighbox-container .lightbox-detailsPage .tab .BannerContentBox{
        min-height:400px;
    }
}
