@media screen and (max-height: 670px)  {
    
}
@media screen and (max-width: 767px) , screen and (max-height: 570px){
    #mydiv{
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
    }
	
	#mydiv-content {
       top: 0;
       -webkit-transform: translate(-50%, 0%);
       -ms-transform: translate(-50%, 0%);
	    transform: translate(-50%, 0%);
		height:100vh;
	    background-color: #fff;
    }
	.MobMenuBtn{
		z-index:10;
		display:block;
	}
	.topMobMenuBar{
		display:block;
		z-index: 100;
	}
	
	.CloseBtn{
		display: none;
	}
    .mobDetector{display:block;}
    .topMobMenuBar .CloseBtn{
		display: block;
	}
	.MenuMob {
         display: table;
         width: 100%;
    }
    
    .lightbox-footer{
        display:none;
    }
    .lighbox-container{
            margin: 0px auto;
    margin-top: 20vh;
    height: 100vh;
    position: relative;
    padding: 0px;
            padding-top: 0px;
            width: 100%;
    }
    .lighbox-container .lightbox-detailsPage .tab{
        top: 0;
		-webkit-transform: initial;
		-moz-transform: initial;
    	-ms-transform: initial;
        transform: initial;
        left: 0;
        width: 100%;
        /* bottom: 0; */
        /* height: 105%; */
        padding-bottom: 20px;
        background: #fff;
    }
    .tab-details{
        overflow:auto;
    }
    .lighbox-container .external-scroll_y.scroll-scrolly_visible{

        display:none !important;
    }
    
    .lighbox-container .logos-container{
        display:none !important;
    }
    .tab-container {
        width: 80%;
        margin: 0px auto;
    }
    .created-by.tab-container {
        display:inline-block;
        margin-right:0px;
        height: 200px;
        margin-bottom: 100px;
    }
    .tab.active .MainContaintArea{
        height:auto;
        max-height:unset;
    }
    .image_full{
        display:none;
    }

    .image_mobile{
        display:block;
    }

    .tab2 .brought {
        font-size: 10px;
        font-weight: 100;
    }

    .tab2 .trailfinders {
        max-width: 130px;
        margin-top: 20px;
    }

    .tab2 .brought{
        margin-top: 20px;
    }

    .tab2 .hero-text{
        margin-top:10px;
    }

    .tab2 .hero-img {
        background-image: url('../images/tab2/bkg_full.jpg');
        height: 100%;
    }

    .tab3 .sia {
        right: 10px;
        max-width: 45px;
    }

    .tab3 .zoom-container {
        right: 10px;
    }

    .tab3 .zoom-container img {
        max-width: 50px;
    }

    .tab3 .hero-img {
        height: 50%;
    }
    
    .MainContentBox {
        width:100%;
        margin-left:0px;
        overflow: initial !important;
    }
    .MainContentBox .detail-page-text {
        /*width: -webkit-calc(100% - 20px);
		width: -moz-calc(100% - 20px);
        width: calc(100% - 20px);*/
        width:100%;
        margin-left:auto;
        margin-right:auto;
        margin-top: 11px;
        /* margin-bottom:280px; */
    }
    .FooterBox {
        
        width: -webkit-calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        width: calc(100% - 20px);
        margin-left:auto;
        margin-right:auto;
        float:none;
        display: block;
        margin-bottom: 130px;
    }
    
    .HideMob {
         display: block;
    }
    
}

@media screen and (min-width: 768px) {
	.mobMenuContainer{
		display:none !important;
	}

}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
}
@media screen and (max-width: 1078px) and (min-width: 768px) {
    #mydiv-content{
        width: calc(100% - 50px);
        width: -webkit-calc(100% - 50px);
        width: -moz-calc(100% - 50px);
        left: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

}

@media screen and (max-width: 767px)  and (orientation : landscape) , screen and (max-height: 570px) and (orientation : landscape) {
    .topMobMenuBar{
        height:91px;
    }
    .lighbox-container{
        margin-top: 91px;
    }
    .lightbox-detailsPage{
        height:100%;
    }
    .lighbox-container .lightbox-detailsPage .tab .BannerContentBox{
        min-height:400px;
    }
}
/* Safari CSS */
@media screen and (min-color-index:0) and (webkit-min-device-pixel-ratio:0) { @media
{
	@media screen and (max-width: 767px) {
    
	}
}}
/* Safari CSS end */
