.tab-menus-bottom-position
{
    position: absolute;
    bottom: 0px;
    width:  100%;
    overflow: visible;
}

.tab-menus-container
{
    position: relative;
    margin: 0 auto;
    z-index: 10;
    width:765px;
    overflow: visible;

}

.tab-menu {
    width:252px;

    margin-right: 0px;
    display: inline-block;
    margin-bottom: -30px;
    position: relative;

    transition: margin-bottom 0.2s ease-in-out;
    height: 92px;
    background-size: cover;
    
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-optimize-contrast;
    image-rendering: -o-optimize-contrast;
    
}

.tab-menu:last-child {margin-right: 0px !important;}
.tab-menu:hover {
    margin-bottom: -20px;
    cursor: pointer;
}

.tab-menu.active {
    margin-bottom: -20px;
    cursor: pointer;
}

.tab-menu-1.active {
     background-image: url('../images/tab1/selected@3x.png');   
}

.tab-menu-2.active {
     background-image: url('../images/tab2/selected3@3x.png');   
}

.tab-menu-3.active {
     background-image: url('../images/tab3/selected@3x.png');   
}

.tab-menu-1 {
    background-image: url('../images/tab1/tab 1@3x.png');
}
.tab-menu1-preload {background-image: url('../images/tab1/selected@3x.png');}
.tab-menu-1:hover {
    background-image: url('../images/tab1/selected@3x.png');
}

.tab-menu-2 {
    background-image: url('../images/tab2/tab 2@3x.png');
}
.tab-menu2-preload {background-image: url('../images/tab2/selected3@3x.png');}
.tab-menu-2:hover {
    background-image: url('../images/tab2/selected3@3x.png');
}

.tab-menu-3 {
    background-image: url('../images/tab3/tab 3@3x.png');
}
.tab-menu3-preload {background-image: url('../images/tab3/selected@3x.png');}
.tab-menu-3:hover {
    background-image: url('../images/tab3/selected@3x.png');
}


.tab-menu-text {
  font-size: 16px;
  font-family: "Proxima-Nova";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 1px 1.96px rgba(0, 29, 44, 0.6);
  position: absolute;
  z-index: 6;
  margin-left: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-menu-1 .tab-menu-text, .tab-menu-2 .tab-menu-text {margin-top: 30px;}
.tab-menu-3 .tab-menu-text {margin-top: 19px;}

.tab {display:none;}
.tab.active {display: block;}


.MainContaintArea {
    height: 100%;
    overflow: hidden;
}

.tabs-container {
    width: 100%;
    height: 100%;
}

.tab {
    width: 100%;
    height: 100%;
}

.tab-details {
    width: 100%;
    height: 100%;
}

.sm-logo {
    max-width: 70px;
    float: right;
    margin-right: 30px;
    margin-top: 2px;
}
/******************* EXTERNAL SCROLLBAR *******************/
/*  scrol bar */
.scroll-content{overflow:scroll;}
.scrollbar-external_wrapper {
   /* position:absolute;*/
   height: 250px;
   right: -30px;
   width: 4px;
   position: absolute;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
.scrollbar-external {
   /* height: 590px; !important;*/
    overflow: auto;
    overflow: hidden;
}
 

 
.external-scroll_x,
.external-scroll_y {
    cursor: pointer;
    display: none;
    /* position: absolute; */
    border-radius: 0px;
    background-color: #fff;
    width: 8px !important;
}
 
.external-scroll_x.scroll-scrollx_visible {
    display: block;
    height: 10px;
    left: 0;
    top: 410px;
    width: 200px;
}
 
.external-scroll_y.scroll-scrolly_visible {
    display: block;
    height: 100%;
}
 
.external-scroll_x div,
.external-scroll_y div
{
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}
 
.external-scroll_x .scroll-bar,
.external-scroll_y .scroll-bar {
    z-index: 12;
    width: 8px;
    border-radius:0px;
    background-color: #27c4f3;
}
 
.external-scroll_x .scroll-bar {
    width: 100px;
}
.external-scroll_y .scroll-bar {
    height: 70px;
}
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
/*  scroll bar end  */
