.clear {
  clear: both;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#mydiv {
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0%;
  top: 0%;
  position: fixed;
  z-index: 200;
  /*background-color:rgba(0,0,0,0.7);*/
}
#mydiv-content {
  width: 1000px;
  height: 650px;
  margin: 0 auto;
  padding: 0px;
  background-color: #c7ffff;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Fira Sans';
  overflow: hidden;
}
.CloseBtn {
  position: absolute;
  top: -8px;
  right: -52px;
  z-index: 12;
  width: 60px;
  height: 60px;
  background-image: url(../images/Close.png);
  display: block;
}
.togglecone.expandedcone {
  background-color: green;
}
.mobDetector {
  display: none;
}
.lightbox-detailsPage .big-palms {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 300px;
  z-index: 30;
}
.lightbox-detailsPage .background-icons {
  position: absolute;
  top: 0;
  width: 100%;
}
.lightbox-detailsPage .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 255, 255, 0.6);
  z-index: 20;
  display: none;
}
.lightbox-detailsPage .map .island {
  position: absolute;
  z-index: 1;
}
.lightbox-detailsPage .map .highlighted {
  z-index: 30;
}
.lightbox-detailsPage .map .island:hover {
  cursor: pointer;
}
.lightbox-detailsPage .map .kauai {
  top: 70px;
  left: 200px;
  width: 170px;
}
.lightbox-detailsPage .map .oahu {
  top: 160px;
  left: 500px;
  width: 85px;
}
.lightbox-detailsPage .popup {
  background-color: rgba(248, 239, 220, 0.95);
  position: absolute;
  z-index: 30;
  transition: bottom 0.5s ease-in-out;
}
.lightbox-detailsPage .popup .popup-close {
  color: #786132;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.lightbox-detailsPage .popup .popup-close .close-text {
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 15px;
  float: right;
}
.lightbox-detailsPage .popup .popup-close .cross {
  text-transform: uppercase;
  font-size: 42px;
  float: right;
  margin-top: -10px;
}
.lightbox-detailsPage .popup .popup-close:hover {
  cursor: pointer;
}
.lightbox-detailsPage .popup p {
  text-align: center;
}
.lightbox-detailsPage .popup p.head1 {
  color: #edbf5a;
  font-size: 36px;
  margin-top: -20px;
  margin-bottom: 0px;
}
.lightbox-detailsPage .popup p.head2 {
  color: #edbf5a;
  font-size: 120px;
  line-height: 0px;
  margin-top: 45px;
  margin-bottom: 0px;
}
.lightbox-detailsPage .popup .color-palm {
  width: 50px;
}
.lightbox-detailsPage .popup .line {
  width: 100px;
}
.lightbox-detailsPage .popup .title {
  font-weight: 300;
  text-transform: uppercase;
  color: #145d70;
  font-size: 24px;
}
.lightbox-detailsPage .popup-big {
  left: 40px;
  right: 40px;
  height: 560px;
  bottom: -600px;
}
.lightbox-detailsPage #dd-menu {
  width: 190px;
  bottom: -350px;
  left: 210px;
  padding-bottom: 30px;
  text-align: center;
}
.lightbox-detailsPage #dd-menu .head-img {
  margin-top: 60px;
  text-align: center;
  height: 40px;
}
.lightbox-detailsPage #dd-menu ul {
  margin-top: 5px;
  position: relative;
  list-style: none;
  text-align: center;
  width: 100%;
  padding-left: 0;
}
.lightbox-detailsPage #dd-menu ul li {
  line-height: 22px;
  text-transform: uppercase;
  color: #145d70;
  font-size: 22px;
}
.lightbox-detailsPage #dd-menu ul li:hover {
  color: #27b3d9;
  cursor: pointer;
}
.lightbox-detailsPage #dd-menu ul img {
  width: 100px;
}
.lightbox-detailsPage .popup-active {
  bottom: 60px !important;
}
.lightbox-detailsPage #video-popup {
  left: 40px;
  right: 40px;
  height: 560px;
  bottom: -600px;
}
.lightbox-detailsPage #video-popup .titleblock {
  margin-top: 50px;
  text-align: center;
}
.lightbox-detailsPage #video-popup .line-sep {
  text-align: center;
}
.lightbox-detailsPage #video-popup .line-sep img {
  width: 100px;
}
.lightbox-detailsPage #video-popup .video-container {
  width: 100%;
}
.lightbox-detailsPage #video-popup .video {
  width: 530px;
  height: 310px;
  background-color: #145d70;
  margin: 0px auto;
}
.lightbox-detailsPage #trip-popup {
  left: 40px;
  right: 40px;
  height: 560px;
  bottom: -600px;
  text-align: center;
}
.lightbox-detailsPage #trip-popup .separator {
  text-align: center;
  margin-top: 70px;
}
.lightbox-detailsPage #trip-popup .title {
  margin-top: 30px;
  text-align: center;
}
.lightbox-detailsPage #trip-popup .content {
  width: 530px;
  margin: 0 auto;
  line-height: 22px;
  font-size: 18px;
  color: #145d70;
  font-weight: lighter;
}
.lightbox-detailsPage #trip-popup .pic-frame {
  position: absolute;
  width: 230px;
  top: 40px;
}
.lightbox-detailsPage #trip-popup .pic-frame-l {
  position: absolute;
  width: 230px;
  top: 40px;
  left: 20px;
}
.lightbox-detailsPage #trip-popup .pic-frame-r {
  position: absolute;
  width: 230px;
  top: 40px;
  right: 20px;
}
