.clear{ clear:both;}
#mydiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0%;
    top: 0%;
    position:fixed;
    z-index: 200;
    background-color:rgba(0,0,0,0.6);
}
#mydiv-content {
    width: 100%;
    max-width: 940px;
    height: 85vh;
    max-height:650px;
    margin:0 auto;
    padding: 0px;
    background-color: #fff;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Fira Sans';
}
.CloseBtn{
	position:absolute;
	top: -8px;
	right: -52px;
	z-index:12;
	width: 60px;
	height: 60px;
	background-image:url(../images/Close.png);
	display:block;
}
.togglecone.expandedcone{
	background-color:green;
}
.mobDetector{display:none;}
.lighbox-container
{
    width: 88.30%;
    width: -webkit-calc(100%-110px);
    width: -moz-calc(100%-110px);
    width: calc(100%-110px);
    height: 93.85%;
    height: -webkit-calc(100%-40px);
	height: -moz-calc(100%-40px);
    height: calc(100%-40px);
    
    background-image:url(../images/QatarBg.jpg);
    /* background: #fff; */
    padding:20px;
    padding-left:90px;
}
.lighbox-container .lightbox-content {
    width:100%;
    height:100%;
    
}
.lighbox-container .lightbox-content .lightbox-default-booklet, .lighbox-container .lightbox-content .lightbox-detail-booklet{
    width:100%;
    height:100%;
    z-index: 100;
	-webkit-perspective: 1300px;
	perspective: 1300px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;   
}
.lighbox-container .lightbox-content .lightbox-tab-menu{
    position:absolute;
    width: 140px;
   /* height: 340px;*/
    left: 0;
    top:50%;
    -webkit-transform: translate(-42%,-50%);
    -ms-transform: translate(-42%,-50%);
    -moz-transform: translate(-42%,-50%);
    transform: translate(-42%,-50%);
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item{
/*    margin-top: 9px;*/
    margin-bottom: 9px;
    width:100%;
    height: 60px;
 /*   border: 1px solid #000;*/
 -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
position:relative;
background-color:#fff;
cursor:pointer;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item:last-child {
    margin-bottom:0px;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item:first-child .lightbox-tab-menu-item-text .capitalCaseTitle{
    top:0px;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item.active{
    /*background-color: #ff6a00;*/
    -webkit-box-shadow: 0px 1px 10px 0px rgba(110,128,138,0.8);
-moz-box-shadow: 0px 1px 10px 0px rgba(110,128,138, 0.8);
box-shadow: 0px 1px 10px 0px rgba(110,128,138, 0.8);
}
.lighbox-container .lightbox-content .lightbox-defaultTab{
    width:100%;
    height:100%;
    position: relative;
}

.lighbox-container .lightbox-content .lightbox-default-booklet .welcomeTab {
    position: absolute;
    width: 100%;
    height: 100%;
    
    background-size:cover;
    background-position:center center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
    -webkit-backface-visibility: hidden;
}
.lighbox-container .lightbox-content .lightbox-default-booklet .welcomeTab .OverlayImg {
    position: absolute;
    width: 100%;
    height: 100%;
    left:0px;
    background-size:cover;
    background-position:center center;
}
.lighbox-container .lightbox-content .lightbox-default-booklet .welcomeTab[data-tab="tab1"] .OverlayImg {
    /*background-image:url(../images/Banner/welcomeTab1Overlay.png);*/
}
.lighbox-container .lightbox-content .lightbox-default-booklet .welcomeTab[data-tab="tab1"]{
    /*background-color:#f00;*/
    /*background-image:url(../images/Banner/welcomeScreeenTab1.jpg);*/
    background-image:url(../images/Banner/tab1-WelcomeAustraliawithshaddow.jpg); 
}
.lighbox-container .lightbox-content .lightbox-default-booklet .welcomeTab[data-tab="tab2"]{
    /*background-color:#0f0;*/
    background-image:url(../images/Banner/welcomeScreeenTab2.jpg);
}
.lighbox-container .lightbox-content .lightbox-default-booklet .welcomeTab[data-tab="tab3"]{
    background-color:#808080;
}
.lighbox-container .lightbox-content .lightbox-default-booklet .welcomeTab[data-tab="tab4"]{
    background-color:#288dc8;
}
.lighbox-container .lightbox-content .lightbox-default-booklet .welcomeTab[data-tab="tab5"]{
    background-color:#00f;
}
.lighbox-container .lightbox-content .lightbox-default-booklet .welcomeTab.active{
    visibility: visible;
    opacity: 1;
}
.lighbox-container .lightbox-content .lightbox-default-booklet .bullet-container{
    position:absolute;
    left: 50%;
    bottom: 5.58%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 34.94%;
}
.lightbox-default-booklet .bullet-container:after{
    clear:both;
}
.lightbox-default-booklet .bullet-container .bullet{
    height: 2px;
    width: 17.241%;
    background-color:#fff;
    float: left;
    margin-right: 3.448%;
}
.lightbox-default-booklet .bullet-container .bullet.no-margin{
	margin-right: 0px;
}
.lightbox-default-booklet .bullet-container .bullet .bullet-progress{
    width: 0px;
    background-color: #288dc8;
    height: 100%;
}
.lightbox-default-booklet .default-navigator{
    position:absolute;
    bottom: 0px;
    right: 0px;
    width: 24.1%;
    /* display:table; */
    height: 11.475%;
    max-height: 70px;
    min-height: 38px;
    background-image:url(../images/navigaterBg.png);
    max-width:200px;
    
}
.lightbox-default-booklet .default-navigator .default-navigator-container{
    position:absolute;
    width:100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
} 
    .lightbox-default-booklet .default-navigator .prevTab {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin-top: 10px;
        width: 30%;
        cursor:pointer;
        font-size:0.7em;
        font-family: 'Proxima-Nova-Condensed-Light';
        color:#a9aeb2;
       /* background-image:url(../images/Control-arrow-Prev.png);
        background-repeat:no-repeat;
        background-position: left center;*/
    }
.lightbox-default-booklet .default-navigator .default-navigator-container .PrevImg {
        vertical-align: middle;
}
.lightbox-default-booklet .default-navigator .default-navigator-container .NextImg {
        vertical-align: middle;
        float:right;
    }
    .lightbox-default-booklet .default-navigator .readMore {
        display:table-cell;
        vertical-align: middle;
        text-align: center;
        margin-top:1.64%;
        width: 40%;
        width: -webkit-calc(40%-2px);
        width: -moz-calc(40%-2px);
        width: calc(40%-2px);
        border: 1px solid #dddddd;
        border-top: 0px;
        border-bottom: 0px;
        cursor:pointer;
        color:#288dc8;
        font-family: 'Proxima-Nova-Condensed-Semibold';
        font-size: 1.2em;
        font-style: italic;
        line-height: 1.2em;
    }
    .lightbox-default-booklet .default-navigator .nextTab {
        display:table-cell;
        vertical-align: middle;
        text-align: center;
        margin-top:1.64%;
        width: 30%;
        cursor:pointer;
        font-size:0.7em;
        font-family: 'Proxima-Nova-Condensed-Light';
        /*background-image:url(../images/Control-arrow-Next.png);
        background-repeat:no-repeat;
        background-position: right center;*/
        color:#a9aeb2;
        line-height: 2em;
    }
.lightbox-menuItem-boxed .lighbox-menuContent .defaultContent .smallCaseTitle{
    font-size: 44px;
    margin-right: 10px;
    top: 6px;
    position: relative;
    font-size: 2.5em;
}
.lightbox-menuItem-boxed .lighbox-menuContent .defaultContent .capitalCaseTitle{
    font-size: 22px;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 3px;
}

.lighbox-container .lightbox-content .lightbox-detailsPage{
    width:100%;
    height:100%;
    position: relative;
    display:none;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item-text {
   width:75px;
   float:right;
   font-family: 'Conv_JADIWA';
   color:#5e6a71;
   position: relative;
   left:0px;
      top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item-text .smallCaseTitle {
    font-size: 1.9em;
    width:100%;
    display: inline-block;
    line-height: 1;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item .ActiveArrow {
    width:11px;
    height:18px;
    display:block;
    position:absolute;
    right:-4px;
     top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image:url(../images/LeftTabHoverArrow.png);
    display:none;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item.active .ActiveArrow,
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item:hover .ActiveArrow {
    display:block;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item-text .capitalCaseTitle{
    font-size: 1em;
    top: -6px;
    position: relative;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item.active .lightbox-tab-menu-item-text,
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item:hover .lightbox-tab-menu-item-text{
    color:#00324f;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item .lightbox-tab-menu-item-logo {
    position:absolute;
    height:50px;
    left:5px;
    z-index: 0;
      top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item.active .lightbox-tab-menu-item-logo .LeftImage,
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item:hover .lightbox-tab-menu-item-logo .LeftImage{
    width:120px;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item.active .lightbox-tab-menu-item-logo .LeftImage:after,
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item:hover .lightbox-tab-menu-item-logo .LeftImage:after {
    content:"";
    /*
-webkit-box-shadow: inset -17px 0px 19px 0px rgba(255,255,255,1);
-moz-box-shadow: inset -17px 0px 19px 0px rgba(255,255,255,1);
box-shadow: inset -17px 0px 19px 0px rgba(255,255,255,1);
        */
width:30px;
height:100%;
position:absolute;
right:-1px;
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(125,185,232,0.01) 99%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(125,185,232,0.01) 99%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(125,185,232,0.01) 99%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
-webkit-transform:rotate(-180deg);
-moz-transform:rotate(-180deg);
-ms-transform:rotate(-180deg);
transform:rotate(-180deg);

}

.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item .lightbox-tab-menu-item-logo .LeftImage {
    width:55px;
    height:50px;
    background-position:top left;
    display:inline-block;
    background-repeat:no-repeat;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item[data-tab="tab1"] .lightbox-tab-menu-item-logo .LeftImage{
    background-image:url(../images/Tab1-westernAustralia.jpg);
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item[data-tab="tab2"] .lightbox-tab-menu-item-logo .LeftImage{
    background-image:url(../images/Tab2-food&wine.jpg);
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item[data-tab="tab2"].active .lightbox-tab-menu-item-logo .LeftImage,
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item[data-tab="tab2"]:hover .lightbox-tab-menu-item-logo .LeftImage {
    width:80px;
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item[data-tab="tab3"] .lightbox-tab-menu-item-logo .LeftImage{
    background-image:url(../images/Tab3-coastal&aquatic.png);
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item[data-tab="tab4"] .lightbox-tab-menu-item-logo .LeftImage{
    background-image:url(../images/Tab4-adventure&nature.png);
}
.lighbox-container .lightbox-content .lightbox-tab-menu .lightbox-tab-menu-item[data-tab="tab5"] .lightbox-tab-menu-item-logo .LeftImage{
    background-image:url(../images/Tab5-flythereinstyle.png);
}

.BannerContentBox {
    height: auto;    
    top: 50%;
    position:absolute;
    right: 0;
    text-align: right;
    width: 45%;
    margin-right: 5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.TextBanner {
  	font-family: 'Proxima-Nova-Condensed-Semibold';
    color:#fff;
    font-size:3em;
    width: 100%;
    float:right;
    text-align: right;
    margin-right: 6.5%;
    line-height: 43px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.TextBanner .SmallBnnerText {
    display:block;
    padding-left:10%;
    line-height: 45px;
    font-family: 'Proxima-Nova-Condensed-Light';
    font-style:italic;
}
.tab1Bannersmalltesxt {
        padding-bottom: 10px;
}
.tab2Bannersmalltesxt {
    padding-right:31%;
}
